.ui-accordion-body-icon:before:extend(.glyphicon) {};
.ui-accordion-body-icon {
    background-color: @background-default-icon-color;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.ui-accordion-header-icon:before:extend(.glyphicon),
.ui-accordion-body-icon {
  .inline-round( 18px, @main-color-2, 2px);

  color: @text-inactive-color;
  cursor: pointer;

  z-index: 100;
}

.ui-accordion-header-icon:hover:before,
.ui-accordion-body-icon:hover {
  color: @text-default-color;
  border-color: @text-default-color;
}

.accordion-header.disabled {
  pointer-events: none;

  .ui-accordion-header-icon:before {
    color: @text-inactive-color;
    border-color: @text-inactive-color;
  }
}

.ui-accordion-body-icon.disabled {
  pointer-events: none;

  color: @text-inactive-color;
  border-color: @text-inactive-color;
  box-shadow: none;
}

.ui-accordion {
  width: 794px;
  height: auto;

  .ui-accordion-header-icon:before {
    content: @glyphicon-plus-b;
  }


  &-li-fix {
    display: inline;
  }
  &-header-active {
    // border-bottom: 0 !important;
    // background-color: @background-default-color !important;
  }
  &-header {
    //background-color: @default-inactive-color;
    display: block;
    position: relative;
    // margin-top: 2px;
    // padding: .5em .5em .5em .7em;
    // min-height: 0; /* support: IE7 */
    // &:hover {
    //   background: @main-color !important;
    // }

    &.ui-state-active .ui-accordion-header-icon:before {
      content: @glyphicon-minus-b;
    }
  }
  &-icons {
    // padding-left: 2.2em;
  }
  &-noicons {
    // padding-left: .7em;
  }
  &-icons {
    .ui-accordion-icons{
      // padding-left: 2.2em;
    }
  }
  &-header {
    .ui-accordion-header-icon:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      right: 35px;
    }
  }
  &-content {
    // padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    display: none;
  }
  &-content-active {
    display: block;
  }
}
