.custom-left-glyph(@icon, @font-size,  @inactiveColor: @default-inactive-color) {
  &:extend(.glyphicon);

  width: (2*@font-size);

  font-size: 0px;
  margin-left: (-2*@font-size);

  &::before {
    content: @@icon;

    color: @inactiveColor;
    font-size: @font-size;
    vertical-align: middle;
  }
}

.custom-right-glyph(@icon, @font-size,  @inactiveColor: @default-inactive-color) {
  &:extend(.glyphicon);

  width: (2*@font-size);

  font-size: 0px;
  margin-right: (-2*@font-size);

  &::after {
    content: @@icon;

    color: @inactiveColor;
    font-size: @font-size;
    vertical-align: middle;
  }
}

.ilink-image(@height, @border, @font-size) {
  position: relative;

  height: -@border+@height;
  padding-left: 4.5+@height/2;

  i {
    position: absolute;
    display: block;

    left: 0;
    top: 50%; // for backward capability with IE11
    transform: translateY( -50% );
    font-size: @font-size;
  }
}

.link-image(@height, @border, @font-size) {
 position: relative;

 height: -@border+@height;
 line-height: -@border+@height;
 padding-left: 4.5+@height/2;

  &:before {
    position: absolute;

    left: 0px;
    font-size: @font-size;
    line-height: inherit;
  }

  i {
    position: absolute;

    left: 0px;
    top: @height/2; // for backward capability with IE11
    transform: translateY( -50% );
    font-size: @font-size;
  }
}

.center-image(@width) {
  &:before {
    text-align: center;
    width: @width;
  }
}

.button-group(@icon, @inactiveColor: @default-inactive-color) {
  float: right;

  width: 300px;
  margin-top: 6px;

  & > * {
    vertical-align: middle;
  }

  & > .search-query {
    height: 34px;
    width: 100%;

    background-color: white;
    padding: 7px 42px 7px 7px;

    border: 1px solid @inactiveColor;
    border-radius: 4px;
  }

  & > button.btn {
    .custom-right-glyph(@icon, 16px);

    float: none;
    margin: 0px 0px 0px -32px;
    padding: 0px;
    height: 34px;
    min-width: auto;

    border: 1px solid @inactiveColor;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.vbox-rounded-group(@width: 32px, @height: 32px, @border-width: 2px, @border-color: @border-default-color) {
  & > * {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;

    width: @width;
    height: @height;
    line-height: 4+@height;

    text-align: center;

    border-left: @border-width solid @border-color;
    border-right: @border-width solid @border-color;

    &:first-child {
      border-top: @border-width solid @border-color;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }

    &:last-child {
      border-bottom: @border-width solid @border-color;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
}

.btn {
	float: left;

  font-weight: bold;
	text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

	color: @main-color-2;
	background-color: @background-block-main-color;

	border: 2px solid @main-color-2;
	border-radius: 4px;

  /* default dim */
  min-width: 178px;
  height: 46px;

  padding: 0px 10px;
  cursor: pointer;
  white-space: nowrap;

  &:disabled, &:disabled:hover, &[disabled], &[disabled]:hover, li[disabled] & {
    color: @text-inactive-color;
  	background-color: @background-block-main-color;
    border-color: @text-inactive-color;

    pointer-events: none;
  }

  &.primary:disabled, &.primary:disabled:hover, &.primary[disabled], &.primary[disabled]:hover {
    color: @text-default-white-color;
  	background-color: @text-inactive-color;
    border-color: @text-inactive-color;

    pointer-events: none;
  }

  &:active, &:focus {
    color: @border-active-color;
  	background-color: @background-block-main-color;
    border-color: @border-active-color;
  }

  &.primary:hover {
    color: @main-color-2;
		background-color: white;
    border-color: @main-color-2;
  }

	&.primary, &:hover {
		color: @text-error-color-in-error-block;
		background-color: @main-color-2;
    border-color: @main-color-2;
	}

  &:before {
    content: '';
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }
}
