table.card {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 49px;
  overflow-x: hidden;
  border-collapse: separate !important;

  tr {
    & > td {
      text-align: left;
      vertical-align: middle;
      padding: 11px 0px 11px 40px;

      color: black;
      border: none;

      &:last-child {
        padding-right: 110px;
      }
    }

    & > th {
      text-align: left;
      vertical-align: middle;
      padding: 11px 0px 11px 73px;

      color: @text-inactive-color;
      width: 212px;
    }
  }
}
