input[type='checkbox'] {
    height: 26px;
    width: 26px;
    z-index: 1;
    cursor: pointer;
}

.checkbox_container {
  display: inline;//-block;
}

.checkbox_custom:before {
    position: relative;
    display: block;
    margin-bottom: 7px;

    left: 2px;
    top: 1px;

    height: 26px;
    width: 26px;

    border-radius: 5px;
    border: 2px solid @border-default-field-color;

    content: '';
    text-align: center;
    cursor: pointer;

    &:extend(.glyphicon);

    .checked& {
        color: @text-valid-color;
        border-color: @text-valid-color;
        content: @glyphicon-check;

        font-size: 14px;
        line-height: 26px;
    }

    .disabled.checked& {
        color: @border-disabled-color !important;
        cursor: default;
        pointer-events: none;
    }
}
