@main-color: #27a7e9;
@main-color-2: #31a8e6;
@main-color-3: #32a8e6;
@default-inactive-color: #989898;//#ccc;
@transparent:transparent;

@border-default-color: #e5e5e5;
@border-default-light-color: #f7f7f7;
@border-default-field-color: #e7e7e7;
@border-white-color: white;
@border-active-color: black;
@border-ruler-color: rgba(141, 141, 141, 0.2);
@border-disabled-color: #f2f2f2;

@text-default-inactive-color: #989898;
@text-default-color: #666;
@text-inactive-color: #999;
@text-valid-color: #2ecc71;
@text-error-color: #ff3f4c;
@text-error-color-in-error-block: white;
@text-default-white-color: white;
@text-active-color: black;
@text-field-active-color: #333;
@text-field-disabled-color: #b3b3b3;

@background-default-color: #f7f7f7;
@background-error-color: #ff3c46;
@background-success-color: #2ecc71;
@background-info-color: #32a8e6;
@background-block-main-color: white;
@background-for-select: #fcfcfc;
@background-active-result-for-select: rgba( 200, 200, 200, 0.2); // IE hack for right scale
@background-default-icon-color: white;

@state-info-text:   white;
@state-info-bg:     #d9edf7;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);

@feedback-info-bg:     @background-info-color;
@feedback-info-text:   @state-info-text;

@feedback-error-bg:     @background-error-color;
@feedback-error-text:   @state-info-text;

@feedback-success-bg:   @background-success-color;
@feedback-success-text: @state-info-text;

@feedback-warning-bg:   @background-block-main-color;
@feedback-warning-text: @background-error-color;


@calendar-light-grey: #eeeeee;
@calendar-disabled-selected: #777777;
@calendar-active: @main-color-2;
@calendar-text-shadow: rgba(0, 0, 0, 0.25);
@calendar-text-color: @text-default-color;
@calendar-basic: @background-block-main-color;
@calendar-transparent: @transparent;

@filter-calendar-background: @background-for-select;
@filter-calendar-border: #ccc;

@progressBar-color: #c0c0c0;

// Global values
// --------------------------------------------------

@body-bg:               @background-default-color;
@text-color:            @text-default-color;

// Grays
// -------------------------

// @gray-darker:            #2d2d2d;
// @gray-dark:              lighten(#000, 20%);   // #333
// @gray:                   #666;
// @gray-light:             lighten(#000, 60%);   // #999
// @gray-lighter:           lighten(#000, 93.5%); // #eee

// Forms
// -------------------------

@input-bg:                       @background-block-main-color;
@input-bg-disabled:              @background-for-select;

@input-color:                    @text-color;
@input-border:                   @border-default-color;
@input-border-radius:            @border-radius-base;
@input-border-focus:             @main-color-2;

@input-group-addon-bg:           @background-for-select;
@input-group-addon-border-color: @border-default-color;



// @input-color-placeholder:        @gray-light;

// @legend-color:                   @text-color;
// @legend-border-color:            #e5e5e5;
//
// @input-group-addon-bg:           @gray-lighter;
// @input-group-addon-border-color: @input-border;
