// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

@padding-base-vertical:          8px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         14px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             4px;
@border-radius-large:            6px;
@border-radius-small:            3px;

//@component-active-bg:            @brand-primary;

@caret-width-base:               4px;
@caret-width-large:              5px;

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px


// Typography
// -------------------------

// @font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
// @font-family-serif:       Georgia, "Times New Roman", Times, serif;
// @font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
// @font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

// @headings-font-family:    @font-family-base;
// @headings-font-weight:    500;
// @headings-line-height:    1.1;


// --------------------------------------------------------------------------------------------

.h100vh {
	min-height: 100vh;
}

html, body, #container,  #container > #wrapper, #content {
	&:extend(.h100vh);
}

#content {
	height: 100vh;
}

.default-max-width() {
	max-width: 1008px;
}

.default-width() {
	width: 1008px;
	margin: 0 auto;
}

.default-min-width() {
	min-width: 1008+32px;
}

#header .top .inside, #header .navigation > ul, #content {
	.default-width;
}

#content {
	.short-table-panel();
	position: relative;

	margin-top: -145px;
	padding-top: 145px;
	padding-bottom: 114px;

	box-sizing: border-box;
}

//
// @media screen and (max-height: 874px) {
// 	#content {
// 		min-height: 875px;
// 	}
// }

#wrapper {
	.default-min-width;
	background-color: @border-default-light-color;
}

body {
	margin: 0;
	padding: 0;

	text-decoration: none;
	font: normal 14px/1.22em 'HelveticeNeueuCyr', sans-serif;
	letter-spacing: 0.025px;

	background-color: white;
}

* {
    box-sizing: border-box;
}

b {
	font-size: inherit;
}

// Ломает цвет сообщений об ошибках
// p {
// 	color: @text-default-color;
// }

* {
	outline: none;
}

a, a:visited, a:hover, a:active, a:link {
	text-decoration: none;
	outline: none;

	color: @main-color;
}

legend {
	text-align: center;
	color: #404040;
	font-size: 24px;
	border-bottom: none;
}

.clear {
	content: "";
	clear: both;
	display: block;
}

.clear:after {
	content: "";
	clear: both;
	display: block;
}

// default font family
.font-face() {
	font: normal 14px/1.22em 'HelveticeNeueuCyr', sans-serif;
	letter-spacing: 0.025px;
}

textarea, input, select, button {
	.font-face();
}
input::-ms-clear {
	display: none;
}
