.inline-block-wrapper {
  .elibrary-modal-top, .elibrary-modal-bottom {
    padding: 22px 74px 48px 74px;
    background-color: @background-default-color;
  }
  .elibrary-modal-bottom {
    border-top: 1px solid rgba(141, 141, 141, 0.2);
  }

  // wrong button position in another form

  // form.edit-form-wrapper input.btn {
  //   margin-left: 25px;
  //   margin-top: 20px;
  //   &.secondry.clear[type=button] {
  //     float: right;
  //   }
  // }
 &.elibrary-modal {
   .elibrary-form {
     input[type="text"] {
       height: 50px;
       margin-bottom: 10px;
       .input_form_fr_text;
     }

     #elibrary-search-btns input {
       float: right;
       width: auto;
       &[value="Найти"] {
         float: right;
         margin-left: 20px;
       }
   }
   }
   .elibrary-result {
     input[type="text"] {
       height: 50px;
       margin-bottom: 10px;
       .input_form_fr_text;
     }

     select {
       width: 100%;
     }

     a.chosen-single {
       background-color: @background-for-select;
       :before {
         background-color: @background-for-select;
       }
     }

     label {
       color: @text-default-inactive-color;
       padding: 12px 0px;
       display: block;
     }
   }
 }
}

.elibrary-search-tabs {
  box-shadow: inset 0 -1px 0px rgba(141, 141, 141, 0.2);
  height: 45px;
  margin-bottom: 16px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    li {
      float: left;
      height: 100%;
      &.active, &:hover {
        border-bottom: 4px solid #27a7e9;
        a {
          color: @text-active-color;
        }
      }
      a {
        display: inline-block;
        color: @text-inactive-color;
        height: 100%;
        padding-top: 15px;
        text-align: center;
        margin-right: 18px;
        font-size: 16px;
        border-bottom: 4px solid rgba(0, 0, 0, 0);
        &:hover {
          color: @text-active-color;
        }
      }
    }
  }
}

.elibrary-buttons:after,
#elibrary-search-btns:after
{
  .clear();
}

.elibrary-buttons {
  input.btn[type="button"] {
    &.btn-left {
      float: left;
    }
    &.btn-right {
      float: right;
    }
  }
}

.elibrary-search-result {
  line-height: 1.4;

  p.main-text {
    font-size: 130%;

    span:before:last-child {
      font-weight: bold;
      content: ',';
      margin-right: 8px;
    }
  }

  strong.fio-block {
    font-weight: bold;

    *:not(:last-child):after {
      content: '\00a0';
    }
  }

  p:not(.main-text) span:not(:last-child):after {
    margin: 0px 7px;
    content: '|';
  }
}

.halfWidthLeft {
  float: left;
  width: 46%;
  display: inline-block;
}

.halfWidthRight {
  float: right;
  width: 46%;
  display: inline-block;
}

h3.elibraryTitle {
  display: none;
}

.elibrary-result {
  table {
    margin-bottom: 20px;
  }
}

.add-inline-toolbar {
    &.elib-toolbar {
      height: auto;
      padding: 0;
      .elib-search-btn input {
        margin: 23px;
      }
    }
}

#e-lib-box {
  padding: 0;
}
