.feedbackPanel {
  margin: 13px auto;
  width: 646px;

  li {
    position: relative;
    border-radius: 4px;
    padding: 14px 35px 14px 64px;
    text-align: left;

    &:nth-child(n+2) {
      margin-top: 4px;
    }

    &:before {
      &:extend(.glyphicon);
      position: absolute;
      left: 16px;
      top: 15px;
      width: 36px;
      height: 36px;
      text-align: center;
      line-height: 32px;
      border: 2px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
    }

    > span {
      height: 38px;
      vertical-align: middle;
      display: table-cell;
    }
  }

  .error {
    .feedback-variant(@feedback-error-bg; transparent; @feedback-error-text; @glyphicon-remove;);
  }

  .success {
    .feedback-variant(@feedback-success-bg; transparent; @feedback-success-text; @glyphicon-check;);
  }

  .info, .infolevel {
    .feedback-variant(@feedback-info-bg; transparent; @feedback-info-text; @glyphicon-info;);
  }

  .warning {
    .feedback-variant(@feedback-warning-bg; @background-error-color; @feedback-warning-text; @glyphicon-warning;);
    border-width: 2px;
    border-style: solid;
    margin: 15px;

    &:before {
      font-size: 30px;
      text-align: left;
    }
  }

}

.LoginPage .feedbackPanel {
  margin: 35px auto 17px auto;
  width: 505px;
}

.edit-form-wrapper .feedbackPanel {
  margin: -12px auto 38px;
}
.feedback-info-wrapper {
  margin-top: 40px;
  margin-bottom: -20px;
}
