@input-default-color: @text-default-color;
@input-background: @background-default-color;
@input-border: @border-default-color;

.input-text( @width: 100%, @height: 54px ) {
  display: inline-block;

  height: @height;
  width:  @width;
  padding: 7px 7px 7px 57px;

  color: @input-default-color;
  background-color: @input-background;

  outline: none;
  border-radius: 4px;
  border: 2px solid @input-border;

  font-size: 16px;
  line-height: -13+@height;
}

textarea {
  resize: vertical;
}

.halfWidth {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-right:10%;
}
