@font-face {
	font-family: 'HelveticeNeueuCyr';
	font-style: normal;
  font-weight: 700;
	src: local('HelveticaNeueCyr Bold'), local('HelveticaNeueCyr-Bold'), url("/fonts/HelveticaNeueCyr-Bold.otf") format("opentype");
}

@font-face {
	font-family: 'HelveticeNeueuCyr';
	font-style: normal;
  	font-weight: bold;
	src: local('HelveticaNeueCyr Bold'), local('HelveticaNeueCyr-Bold'), url("/fonts/HelveticaNeueCyr-Bold.otf") format("opentype");
}


@font-face {
	font-family: 'HelveticeNeueuCyr';
	font-style: normal;
  	font-weight: 400;
	src: local('HelveticaNeueCyr Roman'), local('HelveticaNeueCyr-Roman'), url("/fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
}

@font-face {
	font-family: 'HelveticeNeueuCyr';
	font-style: normal;
  font-weight: normal;
	src: local('HelveticaNeueCyr Roman'), local('HelveticaNeueCyr-Roman'), url("/fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
}

@font-face {
	font-family: 'HelveticeNeueuCyr';
	font-style: normal;
  font-weight: 300;
	src: local('HelveticaNeueCyr Light'), local('HelveticaNeueCyr-Light'), url("/fonts/HelveticaNeueCyr-Light.otf") format("opentype");
}

@font-face {
	font-family: 'HelveticeNeueuCyr';
	font-style: normal;
  font-weight: 200;
	src: local('HelveticaNeueCyr UltraLight'), local('HelveticaNeueCyr-UltraLight'), url("/fonts/HelveticaNeueCyr-UltraLight.otf") format("opentype");
}
