// Forms
// -------------------------
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (ceil(@font-size-large * @line-height-base) + (@padding-large-vertical * 2) + 2);
@input-height-small: (ceil(@font-size-small * @line-height-base) + (@padding-small-vertical * 2) + 2);

// -------------------------

form legend {
	width: 100%;
}

form {
	fieldset {
		label {
			color: @text-default-inactive-color;
		}

		.checkbox_custom:before,
		input.fm-text,
		textarea {
			background-color: @background-block-main-color;
		}

		.field {
			position: relative;
		}

		.radio__label.hovered {
			color: @main-color-2 !important;
		}

		input.fm-text:read-only {
			.readonly();
		}

		input.fm-text:-moz-read-only {
			.readonly();
		}

		input.fm-text[readonly] {
			.readonly();
		}

		textarea:disabled, textarea.fm-text:disabled, input.fm-text:disabled, input.fm-text.disabled, textarea.disabled, select.disabled {
			.disabled();
			&:hover {
				color: @text-default-color;
				border-color: @border-default-field-color !important;
			}
		}

		.radiogroup[disabled], .radiogroup.disabled {
			.disabled();
			.radio__container {
				&.checked:after  {
					border-color: @border-disabled-color !important;
					color: @border-disabled-color !important;
				}
				input {
					cursor: default;
				}
			}
			.radio__label {
				color: @text-field-disabled-color;
			}
		}

		input[type="checkbox"]:disabled, input[type="checkbox"].disabled {
			cursor: default;
			pointer-events: none;
		}

		.checkbox_custom {
			&.hovered {
				&:before {
					border-color: @main-color-2 !important;
					cursor: pointer;
				}
				&.disabled:before {
					border-color: @border-disabled-color !important;
					cursor: default;
				}
			}

			&.disabled:before {
				.disabled();
			}
		}

		.radio__container.hovered:after {
			border-color: @main-color-2 !important;
			cursor: pointer;
		}

		input.fm-text:focus,
		input.fm-text:hover,
		textarea:focus,
		textarea:hover {
			border-color: @main-color-2 !important;
			cursor: text;
		}

		input.fm-text,
		textarea {
			.input_form_fr_text;
		}
	}

	.panel-head-wrapper {
		.short-table-align-panel();

		padding: 12px 0;
		width: 100%;

		legend {
			position: relative;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bold;
			text-align: left;
			padding-left: 26px;

			&:before {
				&:extend(.glyphicon);
				position: absolute;
				left: 0;
				line-height: inherit;
				color: @main-color;
			}
		}

		a {
			cursor: pointer;
            width: 1%;

			&.disable {
				color: @text-inactive-color;
				cursor: default;
			}

			&:nth-child(-n+2):after {
				content: '/';
				color: #989898;
				margin: auto 15px;
			}
		}
	}

	.panel-body-wrapper {
		margin-bottom: 17px;
		margin-top: 10px;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		& > div {
			&:nth-child(even) {
				float: right;
			}

			label {
				width: 100%;
				color: @text-inactive-color;
			}

			input {
				height: 40px;
				border-radius: 6px !important;
				padding-left: 21px;

				&::-webkit-input-placeholder {
					color: #666;
					opacity: 1;
				}

				&::-moz-placeholder {
					color: #666;
					opacity: 1;
				}

				&:-moz-placeholder {
					color: #666;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					color: #666;
					opacity: 1;
				}
			}

			.chosen-container .chosen-single {
				height: 40px;
				padding: 0 44px 0 0;
				line-height: 36px;
				border-radius: 6px !important;
				color: #666;

				span {
					font-size: 14px;
				}

				div > b:before {
					width: 42px;
					height: 36px;
					line-height: 40px;
					font-size: 19px;
				}
			}
		}

		& > * {
			float: left;
		}
	}

	.form-button-block .btn[type=button] {
		margin-top: 38px;
		float: right;

		&:first-child {
			float: left;
		}
	}

	.captha-image-row {
		margin-top: 16px;
	}
}

form.filter-form-wrapper {
	padding: 0 74px 33px;

	.panel-head-wrapper legend:before {
		transform: scale(-1, 1);
		content: @glyphicon-search;
	}

	fieldset {
        .chosen-single b:before {
          min-height: 40px;
        }
		padding-top: 28px;

		label {
			display: block;
			line-height: 32px;
			margin: 8px 0;
		}

		.filter-field-wrapper > *:not(.clear):nth-child(n+1) {
			margin-top: 17px;
		}

		input.filter-input,
		input[type="date"],
		input[type="text"] {
			.input-text( 100%, 40px );

			font-size: 14px;
			line-height: 36px;
			padding: 2px 57px 2px 23px;

			background-color: @background-block-main-color;
		}

		input[type="date"] {
			padding-left: 11px;
		}

		.checkbox_container {
			float: right;
		}

		.field {
            min-height: 88px;
			margin: 0 0 15px;

			.input-group {
				width: 100%;
			}
		}

		.datepicker .input-group-addon {
			color: @border-default-color;
			background-color: @background-block-main-color;

			width: 46px;
			height: 40px;
			border-bottom-right-radius: 6px;
			border-top-right-radius: 6px;

			&:before {
				font-size: 18px;
			}
		}
	}

	.panel-body-wrapper {
		.field {
			width: 395px;
		}

		select {
			width: 395px;
		}
	}

	.btn-block {
		text-align: right;

		.btn {
			display: inline-block;
			width: 130px;
			min-width: 130px;
			height: 40px;
            line-height: 38px;
			margin-top: 0;
			margin-left: 16px;
			box-sizing: border-box;
			float: none;
		}
	}
}

form.modal-filter-form-wrapper {
	fieldset {
		label {
			display: block;
			line-height: 32px;
			margin: 5px 0;
		}

		.filter-field-wrapper > *:not(.clear):nth-child(n+1) {
			margin-top: 17px;
		}

		input.filter-input,
		input[type="date"],
		input[type="text"] {
			.input-text( 284px, 36px );

			font-size: 14px;
			line-height: 32px;
			padding: 2px 57px 2px 23px;
		}

		input[type="date"] {
			padding-left: 11px;
		}

		.checkbox_container {
			float: right;
		}

		input.filter-input:focus,
		input.filter-input:hover {
			border-color: @main-color-2 !important;
			cursor: text;
		}
	}
}

form.form-search {
	width: 100%;

	.btn {
		width: 178px;
		height: 46px;
	}

	.input-append {
		.button-group(@icon: glyphicon-search);

		margin-top: 14px;

		&:hover {
			.search-query {
				border-color: @main-color-2;
			}

			.btn {
				border-color: @main-color-2;

				&:after {
					color: @main-color-2;
				}
			}
		}

		input:focus {
			border-color: @main-color-2;

			~ .btn {
				border-color: @main-color-2;

				&:after {
					color: @main-color-2;
				}

				&:hover:after {
					color: @text-default-white-color;
				}
			}
		}

		.btn:hover:after {
			color: @text-default-white-color;
		}
	}
}

form.edit-form-wrapper {
	fieldset {
		label {
			padding: 12px 0;
			display: block;
		}

		.field {
			padding: 7px 0;
		}

		input.fm-text {
			height: 50px;
		}
	}
}

form.form-stacked {
	fieldset {
		padding-top: 28px;

		label {
			padding: 12px 0;
			display: block;
		}

		.field {
			padding: 7px 0;
		}

		input.fm-text {
			height: 50px;
		}
	}
}
