.scroll-grid-box {
  .default-max-width();

  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.fixed-column-wrapper {
  .full-table-align-panel();

  &:nth-child(2) .row .cell:first-child {
    // border-left: 1px solid @border-default-color;
    border-right: 1px solid @border-default-light-color;
  }

  &:nth-child(3) .row .cell:last-child {
    // border-right: 1px solid @border-default-color;
    border-left: 1px solid @border-default-light-color;
  }

  .row:first-child .cell {
      border-top: 1px solid @border-default-color;

      padding: 20px 7px 22px 7px;
      text-align: center;
      min-width: 30px;
  }

  .cell {
    padding: 22px;
    border-right: 1px solid @border-default-color;
    border-bottom: 1px solid @border-default-color;

    &:first-child {
      border-left: 1px solid @border-default-color;
    }

    &:last-child {
      border-right: 1px solid @border-default-color;
    }
  }

  .field {
    width: 87px;

    .fm-text {
      background-color: white;
      padding-left: 7px;

      // &[disabled] {
      //   background-color: transparent;
      //   border: none;
      //
      //   font-weight: bold;
      // }
    }
  }
}

.fixed-column-wrapper .calculated-value-wrapper,
.scroll-grid-box table .calculated-value-wrapper,
.grid-box-wrapper table .calculated-value-wrapper
{
  font-size: 16px;
  font-weight: bold;

  text-align: center;
}

.scroll-grid-box, .grid-box-wrapper
{
  table
  {
    width: 100%;
    border-collapse: separate;

    .table-border( 1px, 4px,
      rgba(0,0,0,0),
      @border-default-color,
      transparent,
      @border-default-color );

    .zebra-striped();

    thead {
      background-color: @background-block-main-color;
    }

    td:first-child, tbody th {
      min-width: 20em;
    }

    td, tbody th {
      padding: 22px;
      vertical-align: middle;

      text-align: center;
    }

    thead th, tbody th {
      text-align: left;
    }

    .field {
      width: 100px;

      .fm-text {
        background-color: white;
        padding-left: 7px;

        &[disabled] {
          background-color: transparent;
          border: none;

          font-weight: bold;
        }

        &:hover, &:focus
        {
          border-color: @main-color-2;
          cursor: text;
        }
      }
    }

    .calculated-column-wrapper
    {
        min-width: 132px !important;
        text-align: center;
    }
  }
}

.fix-value-wrapper {
  &:before {
    content: '';
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }
}

.grid-box-wrapper {
  th, td {
    text-align: left;
  }

  td:last-child {
    width: 1%;
  }

  .child-item-cell-wrapper:before, .child-child-item-cell-wrapper:before {
    content: '-';
    margin-right: 3px;
  }

  .child-item-cell-wrapper {
    padding-left: 30px;
  }

  .child-child-item-cell-wrapper {
    padding-left: 50px;
  }

  .fieldcolumn {
    width: 192px;
  }
}
