@font-face {
    font-family: 'portal-glyph';
    src:    url('/fonts/portal-glyph.eot?84vtzh');
    src:    url('/fonts/portal-glyph.eot?84vtzh#iefix') format('embedded-opentype'),
    url('/fonts/portal-glyph.ttf?84vtzh') format('truetype'),
    url('/fonts/portal-glyph.woff?84vtzh') format('woff'),
    url('/fonts/portal-glyph.svg?84vtzh#portal-glyph') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="glyphicon-"]:before, [class*=" glyphicon-"]:before, .glyphicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'portal-glyph' !important;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-up-down:before {
    content: "\e940";
}

.glyphicon-log-b:before {
    content: "\e93f";
}
.glyphicon-catalog-bl:before {
    content: "\e93b";
}
.glyphicon-calc:before {
    content: "\e93d";
}
.glyphicon-copy-b:before {
    content: "\e93e";
}
.glyphicon-users-bl:before {
    content: "\e93c";
}

.glyphicon-nbsp:before {
    content: "\e93a";
}

.glyphicon-minus-b:before {
    content: "\e939";
}

.glyphicon-plus-b:before {
    content: "\e938";
}

.glyphicon-dot:before {
    content: "\e937";
}
.glyphicon-minus:before {
    content: "\e935";
}
.glyphicon-edit:before {
    content: "\e936";
}
.glyphicon-sign:before {
    content: "\e92a";
}
.glyphicon-log:before {
    content: "\e92b";
}
.glyphicon-folder-l:before {
    content: "\e92c";
}
.glyphicon-price:before {
    content: "\e92d";
}
.glyphicon-specification:before {
    content: "\e92e";
}
.glyphicon-plan:before {
    content: "\e92f";
}
.glyphicon-coexecutor:before {
    content: "\e930";
}
.glyphicon-project-info:before {
    content: "\e931";
}
.glyphicon-qualification:before {
    content: "\e932";
}
.glyphicon-profile:before {
    content: "\e933";
}
.glyphicon-info-map:before {
    content: "\e934";
}
.glyphicon-compass-b:before {
    content: "\e929";
}
.glyphicon-bell-b:before {
    content: "\e924";
}
.glyphicon-new-b:before {
    content: "\e921";
}
.glyphicon-catalog-b:before {
    content: "\e926";
}
.glyphicon-rose-b:before {
    content: "\e927";
}
.glyphicon-users-b:before {
    content: "\e928";
}
.glyphicon-angle-double-right:before {
    content: "\e923";
}
.glyphicon-check-square-o:before {
    content: "\e91e";
}
.glyphicon-setting-b:before {
    content: "\e91f";
}
.glyphicon-folder-b:before {
    content: "\e920";
}
.glyphicon-file-text-b:before {
    content: "\e925";
}
.glyphicon-properties:before {
    content: "\e922";
}
.glyphicon-refresh:before {
    content: "\e91d";
}
.glyphicon-lock:before {
    content: "\e91b";
}
.glyphicon-user:before {
    content: "\e91c";
}
.glyphicon-chevron-left:before {
    content: "\e919";
}
.glyphicon-chevron-right:before {
    content: "\e91a";
}
.glyphicon-print:before {
    content: "\e900";
}
.glyphicon-pencil:before {
    content: "\e901";
}
.glyphicon-check:before {
    content: "\e902";
}
.glyphicon-flag:before {
    content: "\e903";
}
.glyphicon-fcntp:before {
    content: "\e904";}
.glyphicon-exit:before {
    content: "\e905";
}
.glyphicon-chevron-down:before {
    content: "\e906";
}
.glyphicon-angle-double-left:before {
    content: "\e907";
}
.glyphicon-filter:before {
    content: "\e908";
}
.glyphicon-enter:before {
    content: "\e909";
}
.glyphicon-search:before {
    content: "\e90a";
}
.glyphicon-copy:before {
    content: "\e90b";
}
.glyphicon-plus:before {
    content: "\e90c";
}
.glyphicon-email:before {
    content: "\e90d";
}
.glyphicon-folder:before {
    content: "\e90e";
}
.glyphicon-chevron-up:before {
    content: "\e90f";
}
.glyphicon-users:before {
    content: "\e910";
}
.glyphicon-add:before {
    content: "\e911";
}
.glyphicon-icq:before {
    content: "\e912";
}
.glyphicon-remove:before {
    content: "\e913";
}
.glyphicon-close:before {
    content: "\e914";
}
.glyphicon-file-text:before {
    content: "\e915";
}
.glyphicon-setting:before {
    content: "\e916";
}
.glyphicon-compass:before {
    content: "\e917";
}
.glyphicon-bell:before {
    content: "\e918";
}
.glyphicon-download:before {
    content: "\e943";
}
.glyphicon-download-all:before {
    content: "\e943";
}
.glyphicon-success:before {
    content: "\e902";
}
.glyphicon-resize:before {
    content: "\e942";
}
.glyphicon-noresize:before {
    content: "\e942";
}
.glyphicon-info:before {
    content: "\e93a";
}
.glyphicon-password:before {
    content: "\e944";
}
.glyphicon-warning:before {
content: "\e945";
}

@glyphicon-up-down:       "\e940";
@glyphicon-log-b:         "\e93f";
@glyphicon-catalog-bl:    "\e93b";
@glyphicon-calc:          "\e93d";
@glyphicon-copy-b:        "\e93e";
@glyphicon-users-bl:      "\e93c";
@glyphicon-nbsp:          "\e93a";
@glyphicon-minus-b:       "\e939";
@glyphicon-plus-b:        "\e938";
@glyphicon-dot:           "\e937";
@glyphicon-minus:         "\e935";
@glyphicon-edit:          "\e936";
@glyphicon-sign:          "\e92a";
@glyphicon-log:           "\e92b";
@glyphicon-folder-l:      "\e92c";
@glyphicon-price:         "\e92d";
@glyphicon-specification: "\e92e";
@glyphicon-plan:          "\e92f";
@glyphicon-coexecutor:    "\e930";
@glyphicon-project-info:  "\e931";
@glyphicon-qualification: "\e932";
@glyphicon-profile:       "\e933";
@glyphicon-info-map:      "\e934";
@glyphicon-compass-b:     "\e929";
@glyphicon-bell-b:        "\e924";
@glyphicon-new-b:         "\e921";
@glyphicon-catalog-b:     "\e926";
@glyphicon-rose-b:        "\e927";
@glyphicon-users-b:       "\e928";
@glyphicon-check-square-o:"\e91e";
@glyphicon-setting-b:     "\e91f";
@glyphicon-folder-b:      "\e920";
@glyphicon-file-text-b:   "\e925";
@glyphicon-properties:    "\e922";
@glyphicon-refresh:       "\e91d";
@glyphicon-lock:		      "\e91b";
@glyphicon-user:		      "\e91c";
@glyphicon-chevron-left:  "\e919";
@glyphicon-chevron-right:	"\e91a";
@glyphicon-print:		      "\e900";
@glyphicon-pencil:		    "\e901";
@glyphicon-check:		      "\e902";
@glyphicon-flag:		      "\e903";
@glyphicon-fcntp:		      "\e904";
@glyphicon-exit:		      "\e905";
@glyphicon-chevron-down:	"\e906";
@glyphicon-angle-double-left:	"\e907";
@glyphicon-angle-double-right: "\e923";
@glyphicon-filter:		    "\e908";
@glyphicon-enter:		      "\e909";
@glyphicon-search:		    "\e90a";
@glyphicon-copy:		      "\e90b";
@glyphicon-plus:		      "\e90c";
@glyphicon-email:		      "\e90d";
@glyphicon-folder:		    "\e90e";
@glyphicon-chevron-up:	  "\e90f";
@glyphicon-users:		      "\e910";
@glyphicon-add:		        "\e911";
@glyphicon-icq:		        "\e912";
@glyphicon-remove:        "\e913";
@glyphicon-close:	        "\e914";
@glyphicon-file-text:		  "\e915";
@glyphicon-setting:		    "\e916";
@glyphicon-compass:		    "\e917";
@glyphicon-bell:		      "\e918";
@glyphicon-download:      "\e943";
@glyphicon-download-all:  "\e943";
@glyphicon-success:       "\e902";
@glyphicon-resize:        "\e942";
@glyphicon-noresize:      "\e941";
@glyphicon-info:          "\e93a";
@glyphicon-password:      "\e944";
@glyphicon-warning:       "\e945";
