.edit-row-wrapper {
  background-color: @background-default-color;
}

.edit-row-wrapper:after {
	content: '\00a0';
	display: block;
	height: 100%;
}

.inline-block-wrapper {
  width: 100%;
  padding: 0px;

  // form.edit-form-wrapper input.btn.secondry[type=button] {
  //     float: none;
  // }
}

.inline-block-body {
  padding: 22px 74px 48px 74px;
  background-color: @background-default-color;
  //border-bottom: 1px solid @border-default-color;

  &#addFileBlock {
    background-color: white;
    
    .chosen-container-single {
      width: 100% !important;
    }
  }
}

.add-inline-toolbar.top-panel.active {
  form {
    .field select, .field:not(.dropdownlist) input[type="text"],
    .field:not(.dropdownlist) input.fm-text, ul.radiogroup {
      width: 100% !important;
    }

    textarea {
    }
      resize: vertical;
  }

  .inline-block-body {
    border-bottom: none;
  }
}

.add-inline-toolbar.top-panel {
  margin-top: 46px;
  padding: 25px;

  border: 1px solid @border-default-color;
  border-bottom: none;

  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: @background-for-select;

  &.active {
    background-color: @background-default-color;
  }

  .form-search .input-append {
    margin: 0px;
  }
}
