.inline-round(@radius, @border-color: rgba(0,0,0,0), @border-size: 2) {
  display: inline-block;

  min-width: unit( 2*@radius, px);
  height: unit( 2*@radius, px);
  // line-height: unit( 2*(@radius - @border-size), px);
  line-height: unit( 2*@radius, px);

  text-align: center;

  border: unit(@border-size,px) solid @border-color;
  border-radius: 50%;
}

.center() {
  display: block;
  position: absolute;

  top:50%;
  left:50%;

  transform: translate( -50%, -50% );
}

.center-round(@radius, @color: rgba(0,0,0,0), @border-size: 2) {
  &:after {
    .inline-round(@radius, @color, @border-size);

    display: block;
    position: absolute;

    top:50%;
    left:50%;

    margin-top: -1-@radius;
    margin-left: -1-@radius;
  }
}

.before-center-round(@radius, @color: rgba(0,0,0,0), @border-size: 2) {
  &:before {
    .inline-round(@radius, @color, @border-size);

    display: block;
    position: absolute;

    top:50%;
    left:50%;

    margin-top: -1-@radius;
    margin-left: -1-@radius;
  }
}

.justify-panel() {
  & > * {
    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

.short-table-panel() {
  display: table;

  & > * {
    display: table-cell;
  }
}

.short-table-align-panel( @valign: middle ) {
  display: table;

  & > * {
    display: table-cell;
    vertical-align: @valign;
  }
}

.full-table-panel() {
  display: table;

  & > * {
    display: table-row;

    & > * {
      display: table-cell;
    }
  }
}

.full-table-align-panel( @valign: middle ) {
  display: table;

  & > * {
    display: table-row;

    & > * {
      display: table-cell;
      vertical-align: @valign;
    }
  }
}

.justify-table-row() {
  & > * {
    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }
}

.left-align-panel(@margin) {
  .justify-panel;

   &  > * {
    float: left;
    margin-left: @margin;
  }
}

.feedback-variant(@background; @border; @text-color; @before) {
  background-color: @background;
  border-color: @border;
  color: @text-color;

  &:before {
    content: @before;
  }

  hr {
    border-top-color: darken(@border, 5%);
  }
  .feedback-link {
    color: darken(@text-color, 10%);
  }
}

.rotate(@degree) {
  -webkit-transform:rotate(@degree);
  -moz-transform:rotate(@degree);
  -o-transform:rotate(@degree);
  -ms-transform:rotate(@degree);
}

.readonly() {
    border-color: @border-disabled-color !important;
    color: @text-field-disabled-color !important;
    pointer-events: none;
}

.disabled() {
  border-color: @border-disabled-color !important;
  color: @text-field-disabled-color !important;
  pointer-events: none;
  background-color: white;
  background-image: none;
}