.filter-modal {
  position: absolute;
  top: inherit;
  bottom: auto;
  right: inherit;
  left: auto;
  overflow: visible;

  .modal-open & {
      overflow: visible;
  }

  &:before {
    position: relative;

    top: -8px;
    left: 50%;

    width: 0px;
    height: 0px;
    content: "";

    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid white;

    z-index: 1010;
  }

  .modal-dialog {
    width: 405px;
    margin: 0px;
  }

  .modal-content {
    padding: 26px 60px;
    border: none;
    box-shadow: 0 5px 22px 8px rgba(0,0,0,0.1);
  }

  .modal-header {
    border: none;
    padding: 17px 0px;
  }

  .modal-body {
    padding: 0px;
  }

  .modal-footer {
    border: none;
  }

  .modal-footer-right:extend(.clear) {
    float: right;

    a {
      font-size: 18px;
      line-height: 18px;

      padding: 0px 4px;
      color: @text-inactive-color;

      &:hover {
        color: @main-color-2;
      }

      &.active {
        color: @text-default-color;
      }

    }
  }

  .modal-header h3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;

    padding: 0px;

    strong {
      color: @main-color-2;
    }
  }
}

.filter-active.filter-modal.modal {
  textarea, input.filter-input, .datepicker > input[type=text], .datepicker > span.calendar-icon,
  .checkbox_custom:before, .radio__container:after, .radio__label {
    border-color: @main-color-2;
    cursor: pointer;
  }
}
