.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    margin-bottom: 200px;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;

  &.in {
      opacity: 1;
  }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.fade {
  &.in .modal-dialog {
    transform: translate(0,0);
  }

  .modal-dialog {
    transition: transform .3s ease-out;
    // transform: translate(0,-25%);
  }
}

.modal-content {
    position: relative;

    background-color: #fff;
    background-clip: padding-box;

    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid @border-default-color;

    h3 {
      .demand-tab-header( 24px );
    }

    .close {
      margin-top: -2px;
    }
}

.modal-body {
    position: relative;
    padding: 15px;

    .chosen-container:extend(.w80p) {}
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid @border-default-color;

    .modal-footer-right:after:extend(.clear) {}
    // .btn {
    //   display: inline-block;
    // }
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

  .modal-dialog {
      width: 700px;
      margin: 30px auto;
  }
}

div.wicket-modal {
  width: 400px !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  border-radius:4px;
  position: fixed !important;
  .w_top_1 {
    display: none;
  }
  .w_bottom_1 {
    display: none;
  }
  .w_left {
    .w_right_1 {
      margin-left: 0;
      .w_content_1 {
        border: 4px solid @border-white-color;
        border-radius: 4px;
        padding-top:45px;
        background-color: @background-block-main-color;
        margin-right: 0;
        a.w_close {
          display: none;
        }
        .w_captionText {
          font-weight: bold;
          height: 1.7em;
          margin-bottom: 0;
          margin-top: 0;
          font-size: 1.2em;
          line-height: inherit;
          text-align: center;
          color: @text-default-color;
        }
        .w_content_3 {
          border: 0;
          .w_content_container {
            padding-top: 5px;
            padding-bottom: 50px;
            div {
              form {
                margin-left: 15px;
                div:not(.field) {
                  color:@text-inactive-color;
                  margin-left: 35px;
                  margin-right: 35px;
                  text-align: center;
                  font-size: 1.2em;
                  line-height: 1.4;
                }
              }
            }
            div.buttons {
              padding: 0;
              text-align: center;
              margin-top: 25px;
              input {
                width: 145px;
                min-width: 0;
                float: none;
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }

  .confirm-panel-wrapper {
    .btn.primary {
      float: left !important;
    }
  }
}

.active-modal-block {
  position: relative;
  z-index: 10001;
}

.modal-window {
  z-index:10000;
}
