.navigation {
	background-color: white;
	height: 55px;

	box-shadow: inset 0 -1px 0px rgba(141,141,141,0.2);

	& > ul {
		.justify-panel();
		display: block;

		& > li {
			display: inline-block;
			margin: 0px 25px;

			box-sizing: border-box;
			border-bottom: 2px solid rgba(0,0,0,0);

			white-space: nowrap;

			&.active > a, &.dropdown.open > a {
				color: black;
				cursor: default;

				&:hover {
					color: black !important;
				}
			}

			&.active, &:hover, &.dropdown.open {
				border-bottom: 2px solid @main-color-2;
			}
		}
	}

	a {
		.link-image(55px, 2px, 16px);

		float: left;
		color: @text-inactive-color;

		&:hover
		{
			color: @main-color-2 !important;
		}
	}
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown > .dropdown-menu {
	display: none;
}
.dropdown.open > .dropdown-menu {
	display: block;
}

.dropdown-menu {
  position: absolute;
  top: 55+16px;
  bottom: auto;
  left: 50%;
  transform: translateX( -50% );
	z-index: 1000;

	min-width: 250px;

	padding: 14px 35px 14px 31px;
	background-color: white;
	border-radius: 4px;
  box-shadow: 0 5px 25px 2px rgba(0,0,0,0.1);

	text-align: left;

  .modal-open & {
      overflow: visible;
  }

  &:before {
    position: absolute;

    top: -9px;
    left: 50%;
		transform: translateX( -50% );

    width: 0px;
    height: 0px;
    content: "";

    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid white;

    z-index: 1010;
  }

	& > li {
		height: 50px;
		line-height: 50px;
	}
}

.dropdown.open .dropdown-menu a {
	.link-image(50px, 2px, 16px);
	.center-image(24px);

	padding-left: 40px;

	display: block;
	float:none;
	color: @text-inactive-color;

	&.current, &.current:before, &.current:hover {
		color: black !important;
		cursor: default;
	}
}
