@radio-field-size: 26px;

input[type='radio'] {
    position: absolute;
    height: @radio-field-size;
    width: @radio-field-size;
    z-index: 1;
    cursor: pointer;
}

.radiogroup {
  .short-table-panel();

  li {
    min-width: 116px;
  }
}

.radio__label {
    margin: 0px 15px;
    cursor: pointer;
}

.radio-column-elibrary.radio__container:after {
  top: 10px;
  left: -15px;
}

.radio__container {
  display: inline-block;

  &:after:extend(.glyphicon) {
    position: relative;
    display: block;

    left: 2px;
    top: 1px;

    line-height: @radio-field-size;
    height: @radio-field-size;
    width: @radio-field-size;

    border-radius: 50%;
    border: 2px solid @border-default-field-color;

    content: '\00a0';
    text-align: center;
  }

   &.checked:after {
      color: @text-valid-color;
      border-color: @text-valid-color;

      font-size: 14px;
      line-height: @radio-field-size;

      content: @glyphicon-dot;
  }

  &.disabled:after {
      border-color: @border-default-light-color;
  }

  &.disabled.checked:after {
      color: @border-default-light-color;
      border-color: @border-default-light-color;
  }
}

.radio_span {
  display: none;
}
