.save-all-form-wrapper {
  .notification-activate.save-all {
    cursor: default;
    background-color: @text-inactive-color;
    border-color: @text-inactive-color;
    pointer-events: none;
  }

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid @border-default-color;
  background-color: @background-block-main-color;
  z-index: 10000;

  &:before {
    display: block;
    position: absolute;
    content: '\00a0';
    width: 100%;
    border-top: 1px solid @border-default-color;
  }

  &.save {
    height: 122px;

    &:before {
      top: 122px;
    }

    .panel-wrapper {
      padding: 38px 72px;
    }
    .filling-indicator-wrapper {
      p {
        line-height: 46px;
        text-transform: lowercase;
      }

      .save-all {
        display: block;
        float: right;
      }
    }
  }

  &.valid {
    height: 148px;

    &:before {
      top: 148px;
    }

    .panel-wrapper {
      padding: 15px 160px;

      .message-review {
        display: table-row;
        width: 100%;
        text-align: center;
        color: @text-error-color;
        font-size: 14px;
      }

      .btn-block {
        display: table-row;
        width: 100%;
      }

      .validation {
        text-align: center;

        .download-all {
          margin: 15px auto;
          float: none;
          display: inline-block;
        }

        .electronic-ver {
          display: none;
        }
      }

      .filling-indicator-wrapper {
        color: @text-default-color;
        display: table-row;
        width: 100%;

        .save-all {
          display: none;
        }
      }
    }
  }

  .block-msg {
    display: none;
    position: absolute;
    right: 192px;
    top: 50%;
    z-index: 500;
    transform: translateY(-50%);

    .msg {
      display: none;
      position: absolute;
      bottom: 48px;
      transform: translateX(-50%);
      left: 50%;

      &:after {
        content: "";
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        display: block;
        height: 16px;
        width: 32px;
      }
    }

    .msg-arrow {
      width: 0;
      height: 0;
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    .msg-body {
      display: block;
      padding: 9px 12px;
      white-space: nowrap;
      text-align: left;
      color: @text-default-white-color;
      border-radius: 4px;
    }

    a {
      cursor: pointer;
    }
  }

  .success {
    color: @text-valid-color;
    text-transform: uppercase;
    font-weight: bold;

    &:before:extend(.glyphicon) {
      content: @glyphicon-check;
      margin-right: 10px;
      .inline-round(14, @text-valid-color, 2);
    }

    .msg-body {
      background-color: @background-block-main-color !important;
    }
  }

  .validate-error {
    &:before:extend(.glyphicon) {
      display: inline-block;
      content: attr(data-before);
      .inline-round(14, @text-error-color, 2);
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    .msg {
      display: block;
      max-width: 405px;
      min-width: 245px;
    }
    .msg-arrow {
      border-top: 8px solid @text-error-color;
    }
    .msg-body {
      text-align: left;
      white-space: normal;
      background-color: @text-error-color;

      > span {
        display: block;
        margin-bottom: 7px;

        &:first-child {
          font-weight: bold;
          margin-bottom: 12px;
        }
      }

      ul {
        :first-child {
          margin-top: 10px;
        }
        list-style: circle inside;

        li {
          margin-bottom: 5px;
        }
      }

      a {
        color: @text-default-white-color;
        border-bottom: 1px solid white;

        &:hover {
          border-bottom: none;
        }
      }
    }
  }

  .autosave {
    &:before:extend(.glyphicon) {
      content: @glyphicon-check;
      .inline-round(14, @text-valid-color, 2);
    }

    color: @text-valid-color;

    .msg-arrow {
      border-top: 8px solid @text-valid-color;
    }

    .msg-body {
      background-color: @text-valid-color;
    }
  }

  .server-error {
    &:before:extend(.glyphicon) {
      content: @glyphicon-remove;
      .inline-round(14, @text-error-color, 2);
    }
    color: @text-error-color;

    .msg-arrow {
      border-top: 8px solid @text-error-color;
    }

    .msg-body {
      background-color: @text-error-color;
    }
  }
}

.panel-wrapper {
  .default-width();
  margin: 0 auto;
  display: table;
  position: relative;

  > * {
    display: none;
  }

  div {
    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .message-review {
    p {
      padding-top: 8px;
    }
  }

  .btn-block {
    button {
      margin: 15px 0;
    }

    .download-all {
      width: 304px;
      padding-left: 62px;
      margin-right: 19px;
      text-align: left;
      position: relative;

      span.glyphicon-download-all {
        position: absolute;
        left: 16px;
        top: 6px;
        font-size: 30px;
        line-height: 15px;
      }
    }

    .electronic-ver {
      width: 364px;
      padding: 0 27px;
    }
  }

  .filling-indicator-wrapper {
    position: relative;
    color: @text-default-color;
    display: table;
    width: 100%;

    > p {
      &:first-child {
        text-align: center;
        width: 640px;
      }
    }

    .save-all {
      display: none;
    }
  }

  .top-toolbar-wrapper {
    display: table;
  }

  fieldset {
    display: table;
  }

  @media (max-height: 810px) {
    height: 114px;

    .panel-wrapper {
      padding: 33px 72px;
    }

    &:before {
      top: 114px;
    }
  }
  @media (max-height: 768px) {
    height: 104px;

    .panel-wrapper {
      padding: 28px 72px;
    }

    &:before {
      top: 104px;
    }
  }
  @media (max-height: 438px) {
    height: 78px;

    .panel-wrapper {
      padding: 16px 72px;
    }

    &:before {
      top: 78px;
    }
  }
}
