/* Sizes */
.w1p {
   width: 1% !important
}
.w5p {
	width: 5% !important;
}
.w10p {
	width: 10% !important;
}
.w15p {
	width: 15% !important;
}
.w20p {
	width: 20% !important;
}
.w25p {
	width: 25% !important;
}
.w30p {
   width: 30% !important;
}
.w33p {
   width: 33.33% !important;
}
.w40p {
	width: 40% !important;
}
.w50p {
	width: 49.9% !important;
}
.w55p {
	width: 55% !important;
}
.w60p {
	width: 60% !important;
}
.w66p {
   width: 66.00% !important;
}
.w65p {
   width: 65.00% !important;
}
.w70p {
	width: 75% !important;
}
.w75p {
	width: 75% !important;
}
.w80p {
	width: 80% !important;
}
.w99p {
   width: 99% !important;
}
.w100p {
   width: 100% !important;
}

/* Fixed dimensions */

.w36 {
   width: 36px !important ;
}
.w30 {
   width: 30px !important;
}
.wm110 {
	min-width: 110px !important;;
}

.h100p {
	height: 100% !important;
}
/* display */
.hide {
   display: none !important;
}
.hide-text {
   text-indent: -9999px !important;
}
