@import "/common/button.less";
@import "/common/grid.less";
@import "/common/table.less";
@import "/common/inline-table-form.less";
@import "/common/card.less";
@import "/common/circle-progress.less";
@import "/common/size.less";
@import "/common/select.less";
@import "/common/modal.less";
@import "/common/tooltip.less";
@import "/common/field.less";
@import "/common/modal_filter.less";
@import "/common/feedback.less";
@import "/common/checkbox.less";
@import "/common/radio.less";
@import "/common/upload.less";
@import "/common/form.less";
@import "/common/navigate.less";
@import "/common/accordion.less";
@import "/common/bootstrap-datepicker.less";
@import "/common/loader.less";
@import "/common/input-groups.less";
@import "/common/e-lib.less";
@import "/common/save-all-panel.less";

/* direct from /styles.less
@import "/common/reset.less";
@import "/common/default.less";
@import "/common/font.less";
@import "/common/icons.less";
*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.22em;
}

strong, b {
  margin-left: 3px;
  color: black;

  font-weight: bold;
}
