.table-border(
@weight,
@border-radius: 4px,
@vcolor,
@hcolor,
@outer-vborder-color,
@outer-hborder-color) {
	& > * > tr > *,
	& > tr > * {
		border-bottom: @weight solid @hcolor;
		border-right: @weight solid @vcolor;

		&:first-child {
			border-left: @weight solid @outer-vborder-color;
		}

		&:last-child {
			border-right: @weight solid @outer-vborder-color;
		}
	}

	thead > tr:first-child > * {
		border-top: @weight solid @outer-hborder-color;

		&:first-child {
			border-top-left-radius: @border-radius;
		}

		&:last-child {
			border-top-right-radius: @border-radius;

			span {
				margin: 0;
			}
		}
	}

	tfoot > tr:last-child > * {
		border-bottom: @weight solid @outer-hborder-color;

		&:first-child {
			border-bottom-left-radius: @border-radius;
		}

		&:last-child {
			border-bottom-right-radius: @border-radius;
		}
	}
}

.top-toolbar-wrapper {
	margin: 25px 0 31px;
}

/*.scrollbox {
  .default-max-width();

  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
*/

.zebra-striped() {
	> tbody > tr {
		&:nth-child(even) {
			background-color: #fafafa;
		}

		&:nth-child(odd) {
			background-color: #fcfcfc;
		}
	}
}

table.zebra-striped {
	.zebra-striped();
}

.datatable {
	width: 100%;
	border-collapse: separate !important;
	.table-border( 1px, 4px, rgba(0,0,0,0), @border-default-color, @border-default-color, @border-default-color );

	& > * > tr > td,
	& > tr > td {
		text-align: left;
		vertical-align: middle;
		padding: 29px 16px;

		&:first-child {
			padding-left: 25px;
		}
	}

	& > thead {
		background-color: @background-block-main-color;

		& > * > th {
			position: relative;

			text-align: left;
			vertical-align: middle;

			height: 55px;
			padding-left: 25px;
			min-width: 59px;

			border-right: 1px solid @border-default-color;
			border-bottom: 1px solid @border-default-color;

			& > span {
				display: table-cell;
				vertical-align: middle;
				width: 100%;

				color: @default-inactive-color;
			}

			& > a {
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				position: relative;

				&,
				&:active,
				&:link,
				&:visited {
					color: @default-inactive-color;
				}

				&:first-child {
					&:hover {
						color: @main-color;
					}

					&:after {
						.clear();
					}

					span {
						padding-right: 27px;
						display: inline-block;
					}

					i.sort-iconglyph {
						&:extend(.glyphicon);

						position: absolute;
						display: inline-block;

						margin-left: -19px;

						top: 50%;
						transform: translateY( -50% );

						font-size: 18px;

						&:after {
							color: @text-inactive-color;
							content: @glyphicon-up-down;
						}
					}

					&.sorted {
						& i:after {
							color: @text-default-color;
						}

						&.asc i:after {
							content: @glyphicon-chevron-up;
						}

						&.desc i:after {
							content: @glyphicon-chevron-down;
						}
					}
				}
			}

			& > a.glyphicon-filter.filter-active:hover,
			& > a:hover,
			& > a:hover > i.sort-iconglyph:after {
				color: @main-color;
			}

			a.glyphicon-filter {
				padding: 0 14px;
				margin-left: -12px;

				font-size: 18px;
				text-align: right;

				&.active,
				&.active.filter-active,
				&.filter-active {
					color: @text-default-color;
				}
			}

			.underline {
				position: absolute;
				display: block;

				height: 2px;
				width: 46px;

				bottom: 0;
				right: 0;
				background-color: transparent;

				&.active {
					background-color: @text-default-color;
				}

				&.filter-active.underline {
					background-color: @main-color;
				}
			}
		}
	}

	tfoot {
		color: @text-inactive-color;
		background-color: white;

		td {
			.justify-panel;

			vertical-align: middle;
			height: 145px;

			.chosen-container.chosen-container-single {
				width: 192px !important;
			}

			.chosen-single {
				height: 36px;
				padding-top: 0;
				padding-bottom: 0;

				div > b::before {
					line-height: 35px;
					height: 36px;
					width: 36px;
				}
			}

			& > * {
				.left-align-panel(48px);
				line-height: 36px;
			}

			// pager
			& > div.pager {
				text-align: right;
				float: right;
				margin: 0;

				& > div > * {
					margin: 0 1px;

					display: inline-block;
					float: left;
				}

				a {
					.inline-round(17);

					&:hover {
						border: 2px solid @main-color;
					}
				}

				b {
					.inline-round(17, black);
				}

				*[id^="first"],
				*[id^="last"],
				*[id^="next"],
				*[id^="prev"] {
					position: relative;
					margin: 0 -3px;
					font-size: 0;

					&::before:extend(.glyphicon){
						font-size: 18px;
						vertical-align: middle;
					}
				}

				*[id^="prev"] {
					margin-right: -4px;
				}

				*[id^="next"] {
					margin-left: -4px;
				}

				*[id^="first"]::before {
					content: @glyphicon-angle-double-left;
				}

				*[id^="prev"]::before {
					content: @glyphicon-chevron-left;
				}

				*[id^="next"]::before {
					content: @glyphicon-chevron-right;
				}

				*[id^="last"]::before {
					content: @glyphicon-angle-double-right;
				}
			}
		}

		td,
		th {
			color: @text-default-color;
		}
	}

	td.action-column-wrapper,
	th.action-column-wrapper {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: auto !important;
		min-width: 20px;
		//max-width: 20px;
	}

	td.action-links-column-wrapper {
		span {
			display: block;
			padding-bottom: 29px;
		}

		span:last-child {
			padding-bottom: 0;
		}
	}

	/* hide all content of action column header */
	// thead th.action-column-wrapper > *, thead th.action-column-wrapper > a.glyphicon {
	//   display: none;
	// }

	tbody td.action-column-wrapper {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

thead > * > th.large-column-title-wrapper {
	padding-left: 7px;

	span {
		font-size: 13px;
		line-height: 12px;
		letter-spacing: -0.2px;
	}
}

.action-button-wrapper,
.action-column-wrapper {
	a.edit:before {
		content: @glyphicon-edit;
	}

	a.delete:before {
		content: @glyphicon-minus;
	}

	a.show:before {
		content: @glyphicon-properties;
	}

	a.copy:before {
		content: @glyphicon-copy;
	}
}

/* Раскрывающиеся формы */
.inline-block-header {
	display: none;

	// h4 {
	// 	.demand-tab-header( 16px );
	// 	padding: 0px;
	//
	// 	text-transform: uppercase;
	// }
}

/* Action glyphicon */
.table-action-row-wrapper {
	.vbox-rounded-group( 32px, 32px, 1px, @border-default-color);

	position: absolute;
	left: 100%;
	z-index: 100;
	transform: translate(-50%, -50%);
	background-color: @background-block-main-color;
	border-radius: 16px;
	&:hover * {
		border-color: @text-default-color;
	}

	a.icon {
		display: block;
		cursor: pointer;

		color: @text-inactive-color;
		background-color: @background-block-main-color;

		&:before {
			.glyphicon();
			font-size: 16px;
		}

		&:hover {
			color: @main-color;
		};
	}

	&.active {
		& > * {
			border-color: @main-color;
		}

		a.active {
			color: @text-default-color;
		}
	}
}

_:-ms-input-placeholder, :root .with-scroll .table-action-row-wrapper {
	visibility: hidden;/*for IE*/
}

_:-ms-input-placeholder, :root .with-scroll .active .table-action-row-wrapper {
	visibility: visible;/*for IE*/
}

@supports (-ms-ime-align:auto) {
	.with-scroll .table-action-row-wrapper {
		visibility: hidden;/*for Edge*/
	}
	.with-scroll .active .table-action-row-wrapper {
		visibility: visible;/*for Edge*/
	}
}

.add-inline-toolbar:not(.active),
.table-bottom-toolbar {
	.full-table-panel();

	color: @text-inactive-color;
	background-color: @background-block-main-color;
	border: 1px solid @border-default-color;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	width: 100%;
	height: 145px;
	padding: 23px;

	ul {
		.justify-table-row();

		.chosen-container {
			width: 192px !important;
			float: none;
			margin-left: 0.7em;
		}

		.chosen-single {
			height: 36px;
			padding-top: 0;
			padding-bottom: 0;

			div > b::before {
				line-height: 35px;
				height: 36px;
				width: 36px;
			}
		}

		span {
			line-height: 34px;
		}

		& > li {
			color: @text-default-color;
			vertical-align: middle;

            .chosen-single > span {
              margin-left: 3px !important;
            }
		}

		.navigation-toolbar-wrapper {
			text-align: right;
		}

		// pager
		.pager {
			display: inline-block;
			margin: 0;

			& > div > * {
				margin: 0 1px;

				line-height: 36px;
				display: inline-block;
				float: left;
			}

			a {
				.inline-round(17);

				line-height: 32px;

				&:hover {
					border: 2px solid @main-color;
				}
			}

			b {
				.inline-round(17, black);

				line-height: 32px;
			}

			*[id^="first"],
			*[id^="last"],
			*[id^="next"],
			*[id^="prev"] {
				position: relative;
				margin: 0 -3px;
				font-size: 0;

				&::before:extend(.glyphicon){
					font-size: 18px;
					vertical-align: middle;
				}
			}

			*[id^="prev"] {
				margin-right: -4px;
			}

			*[id^="next"] {
				margin-left: -4px;
			}

			*[id^="first"]::before {
				content: @glyphicon-angle-double-left;
			}

			*[id^="prev"]::before {
				content: @glyphicon-chevron-left;
			}

			*[id^="next"]::before {
				content: @glyphicon-chevron-right;
			}

			*[id^="last"]::before {
				content: @glyphicon-angle-double-right;
			}
		}
	}
}
.add-inline-toolbar:not(.active) ul > * {
	&:last-child {
		width: 175px;
	}
}

.cell-row.first {
	margin-top: 0;
}

.cell-row {
	margin-top: 2em;
}

.multifield-value {
	display: block;
}

.block-resize-table-icon {
	display: block;
	position: relative;

	&.hide {
		display: none !important;
	}
}

.table-rollout-icon {
	&:before {
		content: @glyphicon-resize;
    line-height: 34px;
	}

	position: absolute;
	right: -20px;
	top: 35px;
}

.table-rollup-icon {
	&:before {
		content: @glyphicon-noresize;
    line-height: 34px;
	}

	position: absolute;
	left: 100%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.resize {
	.scrollbox {
		position: relative;
		padding: 0 !important;

		.scrollbox-y table.datatable {
			margin: 0 auto;
		}

		&.with-scroll {
			&:before {
				content: "";
				position: absolute;
				z-index: 1;
				left: 0;
				top: 0;
				bottom: 17px;
				width: 16px;
				pointer-events: none;
				box-shadow: inset 15px 0 15px -15px rgba(0, 0, 0, 0.5);
			}

			&:after {
				content: "";
				position: absolute;
				z-index: 1;
				right: -1px;
				top: 0;
				bottom: 17px;
				width: 16px;
				pointer-events: none;
				box-shadow: inset -15px 0 15px -15px rgba(0, 0, 0, 0.5);
			}
		}
	}

	.table-rollup-icon {
		display: none;
	}
}

.scrollbox-y {
	.default-max-width();

	background-color: @background-block-main-color;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;

    table.datatable {
      th {
        a:link {
          &:hover {
            color: @main-color-2;
          }
        }
      }
    }

  	&.active {
		position: absolute;
		padding: 25px 0 !important;
		z-index: 9998;
		width: 100%;
		overflow-y: auto;
		max-width: none;
		left: 0;
		box-sizing: border-box;
		border-top: 2px solid @main-color-2;
		border-bottom: 2px solid @main-color-2;

		table.datatable {
			position: relative;
			width: 1008px;

			td,
			th {
				&:last-child {
					border-right: 1px solid @border-default-color;
				}
			}

			.action-column-wrapper {

				.table-rollup-icon {
					display: block;
				}
			}
		}

		.border-container {
			min-width: 1008px;
			margin: 0 auto;
      overflow: hidden;

			border: 1px solid @border-default-color;
			border-top: none;
			border-radius: 4px;

			background-color: @background-block-main-color;

			&.active {
				background-color: @background-default-color;
			}

			.add-inline-toolbar {
				border: none;
			}
		}

		.add-inline-toolbar {
			width: 1008px;
			margin: 0 auto;

			border-left: 1px solid @border-default-color;
			border-right: 1px solid @border-default-color;

			&.active {
				background-color: @background-default-color;
			}
		}
	}
}

.scrollbox-y.with-scroll {
	table.datatable {
		position: relative;

		.action-column-wrapper {
			position: static;

			.table-action-row-wrapper {
				transform: translateY( -50% );

				border-bottom-left-radius: 50%;
				border-top-left-radius: 50%;
				box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
			}

			.table-rollup-icon {
				transform: none;
				top: inherit;

				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: 0;
			}

			.table-action-row-wrapper {
				> *:first-child {
					border-top-right-radius: 0;
					border-right: 0;
				}

				> *:last-child {
					border-bottom-right-radius: 0;
					border-right: 0;
				}
			}
		}
	}
}

// disable radius
.with-top-toolbar .datatable {
	thead > tr:first-child > *:first-child {
		border-top-left-radius: 0;
	}

	thead > tr:first-child > *:last-child {
		border-top-right-radius: 0;
	}
}
