.tooltip {
  display: block;
  position: absolute;
  margin-top: -17px;
  z-index: 500;

  .tooltip-inner {
    display: block;

    line-height: 1.22em;
    padding: 9px 12px;

    text-align:         center;
    color:              white;
    background-color:   @text-error-color;

    border-radius: 4px;
  }

  .tooltip-arrow {
    width:0px;
    height:0px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid @text-error-color;
  }
}

.error-field {
  display: block;
  position: absolute;
  z-index: 500;

  left: 10px; // offset
  right: 10px; // offset
  margin: 37px 10px 0px 10px;
  text-align: center;

  div {
    display: inline-block;

    line-height: 1.22em;
    padding: 9px 12px;

    text-align:         center;
    color:              white;
    background-color:   @text-error-color;

    border-radius: 4px;
    width: auto;
  }

  &:before {
    display: block;
    content: '';

    width:0px;
    height:0px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid @text-error-color;
  }
}


input, textarea, input.fm-text {
  &.valid {
    border-color: @text-valid-color !important;
    outline: none;

    padding-right: 70px;

    background-image: url("/images/ok-icon.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
  }

  &.error {
    border-color: @text-error-color !important;
    outline: none;

    padding-right: 70px;

    background-image: url("/images/close-icon.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
  }
}
