input[type=file] {
  width: 100%;
  height: 100%;
}

.file {
  .input-text( 100%, 50px);

  background-color: @background-block-main-color;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none !important;
  padding: 7px 7px 7px 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.hovered, &:hover {
    border-color: @main-color-2;
  }

  &:disabled.hovered, &:disabled:hover, &:disabled, &.disabled, &.disabled.hovered {
    pointer-events: none;
    border-color: @border-default-color;
    opacity: 0.5;
  }
}

.file-button {
  display: block;

  width: 52px;
  height: 50px;

  color: @text-inactive-color;
  background: @background-for-select;
  border: 2px solid @border-default-color;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &.hovered, &:hover {
    color: @main-color-2;
    border-color: @main-color-2;
  }

  &:disabled.hovered, &:disabled:hover, &:disabled, &.disabled, &.disabled.hovered {
    pointer-events: none;
    border-color: @border-default-color;
    opacity: 0.5;
  }

  &:before:extend(.glyphicon) {
    content: @glyphicon-dot@glyphicon-nbsp@glyphicon-dot@glyphicon-nbsp@glyphicon-dot;
    font-size: 6px;

    .center();
  }

  input.fm-text:disabled {
    opacity: 0 !important;
  }
}
