@font-face{
    font-family:'Glyphicons Halflings';
    src:url('glyphicons-halflings-regular.eot');
    src:url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('glyphicons-halflings-regular.woff2') format('woff2'),
    url('glyphicons-halflings-regular.woff') format('woff'),
    url('glyphicons-halflings-regular.ttf') format('truetype'),
    url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

.glyphicon {
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

div#content .tbl-notices tr th a.glyphicon {
    margin-left: 7px;
}

.glyphicon-filter:before {
    content:"\e138"
}

.glyphicon-ok:before {
    content:"\e013"
}
.glyphicon-remove:before {
    content:"\e014";
    color: rgba(215, 0, 11, 0.71);
}

.glyphicon-plus-sign:before{
    content:"\e081"
}

.glyphicon-minus-sign:before{
    content:"\e082";
    color: rgba(215, 0, 11, 0.71);
}

.glyphicon-ok-circle :before{
    content:"\e089"
}

.glyphicon-ban-circle:before{
    content:"\e090";
    color: rgba(215, 0, 11, 0.71);
}

.gi-2x {
    font-size:2em
}
.gi-3x {
    font-size:3em
}
.gi-4x {
    font-size:4em
}
.gi-5x {
    font-size:5em
}

a.glyphicon:hover
{
    text-decoration: none;
}

div#content .tbl-notices tr th a.active-filter {
    color: #068BB8;
}

div#content .tbl-notices tr th a.not-active-filter {
    color: #949494;
}

div.interval-modal-filter{
    width: 500px
}