.timer-block {
    margin-bottom: 15px;
    color: #808080;
}

.openCoverNotification {
    padding-left: 0;
}

.steps-block {
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}

.button-block {
    float: left;
    margin-left: 10px;
}

.button-block .btn {
    color: #858080;
    font-size: 13px;
    padding: 5px 9px 6px;
}

.button-block .btn span {
    color: #ada6a6;
    position: relative;
    top: 1px;
}

.button-block .btn:first-child  {
    padding-left: 4px;
}

.button-block .btn:first-child span  {
    top: 0;
}

.button-block .btn:last-child  {
    padding-right: 4px;
}

.button-block .btn.btn-start:first-child  {
    padding-left: 9px;
}

.button-block .btn.btn-finish:first-child  {
    padding-right: 9px;
}

.status-block {
    float: right;
    color: #858080;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}

.info-text {
    color: #0294C5;
    margin-left: 3px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.track-progress {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 16px;
}

.track-progress li {
    list-style-type: none;
    float: left;

    position: relative;
    margin: 0;

    text-align: center;
    line-height: 30px;
    height: 30px;

    background-color: #E5E7E8;
}

.track-progress li > span {
    display: block;
    padding: 0 10px 0 25px;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
}

.track-progress li:first-child > span {
    padding-left: 15px;
}

.track-progress li.done > span {
    color: #fff;
    background-color: #0294C5;
}

.track-progress li > span:after,
.track-progress li > span:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    right: -27px;
    border: solid transparent;
    border-left-color: #FCFAFA;
    border-width: 16px;
    border-left-width: 12px;
    z-index: 2;
}

.track-progress li > span:after {
    border-left-color: #E5E7E8;
}


.track-progress li:last-child > span:before {
    display: none;
}

.track-progress li > span:before {
    right: -29px;
}

.track-progress li.done > span:before {
    right: -29px;
}


.track-progress li.done  > span:after {
    border-left-color:#0294C5;
}

/*tabs-redesign*/
#content .tabs > li a {
    font-size: 13px;
    padding: 0 8px;
    background: #F5F5F5;
    border-color: #e1e1e1;
    color: #939393;
}

#content .tabs > li.active a {
    background: #fff;
    color:  #6C6969;
    border-color: #dbdbdb;
    border-bottom-color: #FFF;
}

#content .tabs > li.active a:hover {
    border-bottom-color: #FFF;
}

#content .tabs > li.active a span {
    padding: 0 10px;
}

.tabs > li > a {
    line-height: 30px;
}

#content .tabs > li a:hover {
    background: #fff;
    color: #6C6969;
    border-color: #dbdbdb;
}

.icon-xml {
    display: inline-block;
    background: url("../images/icon-xml.png") no-repeat;
    width: 20px;
    height: 24px;
    vertical-align: bottom;
    margin-left: 5px;
}

/*.tab-data fix*/
.tab-data {
    min-width: inherit;
!important;
}
