.AccessDeniedPage
{
	width: 100%;
	height: 100%;
	vertical-align: middle;

  & > #block-message-access {
    width: 505px;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid @border-default-color;
    padding: 66px 122px 92px 122px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;

    .title {
      font-weight: 700;
      font-size: 24px;
      color: #404040;
      line-height: 28px;
      margin-bottom: 32px;
    }

    p {
      color: @text-inactive-color;
      line-height: 22px;
    }

    .support {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      color: #404040;
      margin: 48px 0 16px 0;
      line-height: 18px;
    }

    .quick-links {
      margin: 58px 8px 0 8px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      li {
        float: left;
        margin-left: 62px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-top: 20px;
        }

        a {
          position:relative;
          color: @text-inactive-color;
          line-height: 22px;
          padding-left: 34px;

          &:before {
            position: absolute;
            left: 0px;
            font-size: 18px;
            line-height: inherit;
          }

          &:hover {
            color: @main-color;
          }
        }
      }
    }
  }
}
