.AdminPage {
  .block-header h4{
    padding-left: 0;
    &:before {
      content: none;
    }
  }
  .filter-form-wrapper  {
    background-color: @border-white-color;
    border-width: 1px 1px 0px 1px;
    border-color: #e5e5e5;
    border-style: solid;
  }
  .add-button-wrapper {
    position: absolute;
    top: 195px;
    right: 0px;
  }
  .panel-head-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 1px;
    width: 100%;
    box-shadow: inset 0 -1px 0px @border-ruler-color;
  }
  .add-inline-toolbar.top-panel {
      margin-top: 0px;
      border-radius: 0px;
  }
}