.DemandPage {
	.btn {
		min-width: 178px;
		line-height: 46px;
		height: 46px;

		margin: 0;
	}

	.tabsWrapper {
		.vertical-tab;
	}

	.tab-panel {
	  margin-left: -1px;
		width: 794px;
		background-color: @background-block-main-color;
		border: 1px solid @border-default-color;

		th {
			& > span {
				display: inline-block;
				margin: 20px 9px 22px 17px;
				width: auto;
				text-align: left;
			}

			a.glyphicon-filter {
				display: none;
			}
		}
	}

	.field select,
	.field:not(.dropdownlist) input[type="text"],
	ul.radiogroup {
		width: 100% !important;
	}

	textarea {
		resize: vertical;
	}

	.inputs-list li {
		padding: 0;
		margin: 0;
	}
	// дёргаются блоки при сворачивании
	// из-за отсутствия clear
	table.card {
		margin: 0;
	}

	li table.datatable {
		width: 100%;
		margin: 0 -75px;
	}

	.edit-grid-wrapper table,
	table.datatable {
		thead th {
			height: auto;
			min-height: 55px;
		}

		tfoot td {
			height: 89px;
		}

		th {
			padding: 20px 7px 22px;
			text-align: center;
			min-width: 30px;

			& > a,
			& > a:link {
				color: @default-inactive-color;
                &:hover {
                  color: @main-color-2;
                }
			}
		}

		td,
		th {
			&:last-child {
				border-right: 0;
			}
		}

		thead th:nth-last-child(2),
    tbody td:nth-last-child(2) {
			border-right: none;
		}
	}

	li > .add-button-wrapper {
		display: block;
		width: 100%;
		height: 46px;
		margin: 25px 0 31px;
	}

	.scroll-grid-box {
		max-width: 795px;
	}

	.grid-box-wrapper {
		width: 794px;
		margin: -25px -74px -34px;
	}

  .grid-box-wrapper.no-padding {
    margin: -25px -74px -72px;
  }

	.inline-block-wrapper {
		width: 794px;

		scrollbox-y active & {
			width: 1008px;
		}
	}

	.edit-form-wrapper,
	.edit-grid-wrapper {
		.btn[type] {
			float: right;
			margin-top: 38px;
		}

		fieldset > div.clear:last-child {
			display: none;
		}
	}

	p.copyright {
		display: block;
		position: absolute;
		top: 150px;
		width: 100%;
		text-align: center;
	}

	[id^='documentTable'] {
		.glyphicon-check {
			color: @text-valid-color;
		}

		.glyphicon-remove {
			color: @text-default-color;
		}
	}

	#titleBlock {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		h2 {
			display: inline;
		}

		div {
			display: inline;

			.icon-xml {
				display: inline-block;
				background: url("/images/icon-xml.png") no-repeat;
				width: 20px;
				height: 24px;
				vertical-align: bottom;
				margin-left: 5px;
			}
		}
		.info-filling {
			position: relative;
			float: right;
			width: 118px;
			margin-right: 28px;

			span {
				position: relative;
				font-size: 14px;
				line-height: 18px;
				text-decoration: none;
				border-bottom: 1px dotted @main-color-2;
				color: @main-color-2;
				cursor: pointer;

				&:before {
					content: "!";
					position: absolute;
					box-sizing: border-box;
					left: -35px;
					top: 2px;
					width: 18px;
					height: 18px;
					line-height: 17px;
					text-align: center;
					border-radius: 50%;
					font-size: 12px;
					font-weight: 700;
					border: 1px solid @border-default-color;
					color: #aaa;
				}

				&:hover:before {
					color: white;
					background-color: @main-color-2;
					border-color: @main-color-2;
				}
			}

			.tooltip {
				width: 1008px;
    		left: -863px;
				top: 58px;
				z-index: 9999;
				> div {
					display: block;
					&.tooltip-arrow {
						border-bottom: 8px solid @main-color-2;
						left: 837px;
					}
					&.tooltip-inner {
						position: relative;
						background-color: @main-color-2;
						text-align: left;
						line-height: 18px;
						padding: 22px 97px 22px 25px;

						i.close_info-filling:before {
							position: absolute;
							cursor: pointer;
							right: 21px;
							top: 21px;
							font-size: 20px;
							color: @text-default-color;
						}

						ul li {
							position: relative;
							margin-top: 20px;
							padding-left: 46px;
							&:before {
								position: absolute;
								left: 0;
								top: 7px;
								font-size: 28px;
							}
							b {
								color: white;
								margin-left: 0;
							}
						}
					}
				}

			}
		}
	}

	form.filter-form-wrapper {
		padding: 0 74px 33px;

		.field {
			margin: 0 0 15px;

			.input-group {
				width: 100%;
			}
		}

		.panel-body-wrapper {
			& > div {
				width: 297px;

				select {
					width: 297px;
				}
			}
		}
	}

	.add-inline-toolbar {
		border-radius: 0;
		border-right: none;
		border-left: none;
	}
}

#scrollUp {
	position: absolute;
	display: none;
	bottom: 150px;
	margin-left: 50px;

	span.glyphicon-chevron-up {
		position: absolute;
		font-size: 28px;
		bottom: 8px;
		left: 22px;
	}
	@media (max-width: 1400px) {
		max-width: 50px;
		min-width: 50px;
		margin-left: 30px;
		font-size: 0;

		span.glyphicon-chevron-up {
			position: absolute;
			font-size: 28px;
			bottom: 8px;
			left: 10px;
		}
	}
}

//.DemandPage li.zoom.ui-accordion {
//  .scrollbox {
//    padding: 0px !important;
//  }
//}
