.column-login
{
	width: 100%;
	height: 100%;
	vertical-align: middle;

	& > #form-login {
		width: 505px;
		margin: 10px auto;

		form {
			border-radius: 3px;
			border: 1px solid @border-default-color;

			margin-bottom: 20px;
			padding: 64px 56px 70px 55px;

			text-align: center;

			background-color: white;
			box-sizing: border-box;

			legend {
				width: 100%;
				margin-bottom: 10px;
			}

			.field {
				position: relative;
				margin-top: 18px;
				margin-bottom: 18px;

				label {
					position: absolute;
					width: 44px;

					margin-top: 2px;
					margin-left: 11px;
					text-align: center;

					line-height: 54px;
					font-size: 18px;
				}
			}

			input.fm-text {
				.input-text( 100%, 54px );
			}

			fieldset > a:last-child {
				margin-left: 50px;
			}

			#btn-login {
				width: 286px;
				height: 46px;

				margin: 22px 50px 21px 50px;
			}
		}
	}
}

.column-login > #form-login label:after:extend(.glyphicon) {
	font-weight: bold;
}

.column-login > #form-login label[for="name"]:after {
	content: @glyphicon-user;
}

.column-login > #form-login label[for="pass"]:after {
	content: @glyphicon-lock;
}

.column-login > #form-login .login-info {
	position: relative;;

	padding: 0px 56px 0px 73px;

	text-align: left;
	font-size: 14px;
	line-height: 1.4em;
	font-style: normal;
	font-weight: normal;

	color: #aaaaaa;

	&:after {
		position: absolute;

		top: 2px;
		left: 16px;

		padding: 2px 10px 2px 10px;
		border: 1px solid @border-default-color;

		border-radius: 50%;

	 	content: "!";
	  font-style: normal;
	  font-weight: bold;
	  font-size: 16px;
	}
}

.column-login > #form-login fieldset > a {
	color: @text-inactive-color;
	font-size: 14px;
}

/*
@media screen and (max-height: 742px) {
	.column-login > #form-login {
		position: relative;
		top: 0px;
		left: 0px;
		margin: 14px auto;
	}
}
*/
