.LotPage {
  .tabsWrapper {
    .vertical-tab;

    ul.tabs li a {
      border-width: 2px;

      i {
        color: @text-inactive-color;
        font-size: 22px;
      }

      &:hover i {
        color: @main-color;
      }
    }

    .error-field {
      margin-left: 107px;
    }
  }

  .tab-panel {
    margin-left: -1px;
    width: 794px;

    background-color: white;
    border: 1px solid @border-default-color;

    th {
      & > span {
        display: inline-block;
        margin: 20px 9px 22px 17px;
        width: auto;
        text-align: left;
      }

      a.glyphicon-filter {
        display: none;
      }
    }
  }

  // дёргаются блоки при сворачивании
  // из-за отсутствия clear
  table.card {
     margin: 0;
  }

  li table.datatable {
    width: auto;
    margin: 0px -75px;
  }

  table.datatable, .edit-grid-wrapper table {

    thead th {
      height: auto;
      min-height: 55px;
      border-right: 1px solid @border-default-light-color;
    }

    tfoot td {
      height: 89px;
    }

    th {
      padding: 20px 7px 22px 7px;
      text-align: center;
      min-width: 30px;

      & > a, & > a:link {
        color: @default-inactive-color;
      }
    }

    th, td {
      &:last-child {
        border-right: 0;
      }
    }
  }

  .scroll-grid-box table td {
    min-width: 137px;
    border-right: 1px solid @border-default-light-color;
  }

  form.edit-form-wrapper, form.edit-grid-wrapper {
    input.btn[type=button] {
      float: right;
      margin-top: 38px;
      margin-bottom: 38px;
    }
  }

  form.filter-form-wrapper {
    padding: 0px 74px 33px 74px;

    .field {
      margin: 0px 0px 15px 0px;
      .input-group {
        width: 100%;
      }
    }

    .panel-body-wrapper {
      & > div {
        width: 297px;

        select {
          width: 297px;
        }
      }
    }
  }

  select.fm-text {
    width: 100%;
  }
}

.lot-page {
  padding-top: 0;
  fieldset {
    padding: 0;
    .single-line {
      border-bottom: 1px solid @border-default-light-color;
      .field-container {
        display: table;
        width: 100%;
        padding-left: 75px;
        div {
          display: table-cell;
          width: 50%;
          padding: 18px 16px 18px 0px;
        }
        .field-title {
          color: @text-inactive-color;
        }
        .field-label {
        }
      }
    }
    .multi-line {
      margin-top: 44px;
      .field-container {
        width: 100%;
        padding-left: 75px;
        .field-title {
          padding-bottom: 12px;
        }
      }
    }
    .field-title {
      vertical-align: middle;
      color: @text-inactive-color;
    }
    .field-label {
      font-size: 16px;
      vertical-align: middle
    }
  }
}

.lot-timer {
  margin: 30px 65px 0px 247px;
  .openCoverNotification {
    color: @text-inactive-color;
  }
}
