form.addEditForm {
	width: 721px;

	background-color: white;
	font-size: 16px;

	border-radius: 3px;
	border: 1px solid @border-default-color;

	margin: 90px auto;
	padding: 56px 53px 55px;

	fieldset {
		width: 100%;

		& > p {
			margin-top: 12px;
			margin-bottom: 34px;

			color: @default-inactive-color;
			text-align: center;
			font-size: 13px;

			span {
				font-size: 16px;
			}
		}
	}

	.recovery-password-notification {
		font-size: 16px;
		padding: 0 140px;
		line-height: 30px;
	}

	.field,
	label {
		display: block;
	}

	.field,
	label {
		display: block;
	}

	label {
		color: @text-inactive-color;

		margin-bottom: 15px;

		font-size: 16px;
		font-weight: 300;
	}

	.field {
		position: relative;
		margin: 18px 0 44px;
	}

	select.fm-text {
		width: 100%;
	}

    input.fm-text {
      color: @text-default-color;
  		background-color: @background-for-select;
    }

	.captha-image-row {
		margin-top: -21px;
		margin-bottom: 44px;
	}

	.btn {
		float: left;

		width: 286px;
		height: 46px;

		margin-top: 8px;
		margin-left: 25px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			float: right;
			margin-right: 0;
		}
	}
}

.input_form_fr_text {
	display: inline-block;

	width: 100%;
	padding: 15px 7px 14px 25px;

	border-radius: 4px;
	border: 2px solid @border-default-color;

	font-size: 16px;
	line-height: 21px;
}

.captha-image-row {
	position: relative;
	height: 60px;

	img {
		min-width: 240px;
		max-width: 280px;
		height: 60px;
	}

	a {
		position: absolute;
		color: @main-color;

		line-height: 46px;
		padding: 7px 7px 7px 32px;
		margin-left: 285px;

		i {
			position: absolute;
			left: 7px;

			font-size: 18px;
			line-height: 46px;
		}
	}
}