.block-config-panel {
  a:last-child:after {
    content: '';
    display: block;
    clear: both;
  }
}

.upload-form-wrapper {
  .short-table-align-panel();

  width: 100%;

  margin-top: 22px;
  padding: 25px;
  border: 1px solid @border-default-color;
  border-radius: 4px;

  input.btn {
    float: right;
  }
}
