.UserPage {
  #titleBlock {
    margin-top: 38px;
    span {
      font-weight: 300;
    }
  }
  .tabsWrapper {
    margin-top: 41px;
    position: relative;
    .glyphicon-edit:before {
      content: "\e936";
      .user-buttons-icon;
    }
    .glyphicon-password:before {
      content: "\e944";
      .user-buttons-icon;

    }
    .glyphicon-lock:before {
      content: "\e91b";
      .user-buttons-icon;
    }

    .view-user-buttons {
      padding-left: 35px;
      padding-right: 30px;
      line-height: 46px;
    }

    .delete-user-button {
      line-height: 46px;
      float: right;
    }

    .user-buttons-icon {
      left: -16px;
      top: 13px;
      font-size: 16px;
      line-height: 15px;
    }
  }

  .tab-panel {
    .top-toolbar-wrapper {
      padding: 30px 35px;
      margin: 0;
      border-bottom: 1px solid @border-default-color;
    }
  }
}

.user-block {
  padding-bottom: 72px;
}

ul.userdetails {
  padding-top: 40px;
  li {
    label {
      display: block;
      color: @text-default-inactive-color;
    }
    &.double {
      float: left;
      width: 50%;
    }
    dl {
      width: 100%;
      dd {
        span {
          font-size: 16px;
          line-height: 22px;
          color: @text-field-active-color;
        }
      }
      &.block-inline-field {
        padding: 12px 0 33px 0;
        dt {
          i {
            position: absolute;
            &:before {
              top: 4px;
              color: @text-inactive-color;
              margin-right: 21px;
            }
            &.glyphicon-user {
              &:before {
                font-size: 20px;
                font-weight: 700;
              }
            }
            &.glyphicon-calc {
              &:before {
                font-size: 18px;
              }
            }
          }
        }
        dd {
          span {
            margin-left: 35px;
            &.choice-active {
              color: @text-valid-color;
            }
          }
        }
        label {
          padding: 3px 0 9px 0;
          margin-left: 35px;
        }
      }
      &.block-edit-field {
        display: table;
        width: 100%;
        padding: 10px 0;
        dt {
          width: 145px;
          display: table-cell;
          text-align: left;
          label {
            padding: 0;
          }
        }
      }
    }
  }
}

.AddEditUserPage, .SetUserPasswordPage {
  #userAddEditForm {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    .btn {
      margin-top: 0;
      &.single-input {
        float: none;
        margin-bottom: 7px;
      }
    }
    .bottom-toolbar-wrapper {
      margin: 0;
      border-bottom: 1px solid @border-default-color;
      input {
        margin: 30px 74px;
      }
    }
  }
  .ui-accordion {
    width: 100%;
    fieldset {
      div:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.SetUserPasswordPage {
  .tab-panel {
    .panelBody {
      min-height: auto;
    }
  }
}
