#content .breadcrumb {
    padding: 0px 1px;

    margin-top: 26px;
    margin-bottom: 20px;
    list-style: none;

    background-color: inherit;
  	line-height: 18px;

    & > li {
      display: inline;

      &:nth-last-child(n+2):after {
        margin: 0px 12px;
        content: '/';

        color: @text-inactive-color;
      }

      a {
        color: @main-color-2;
      }
    }
}
