.demand-tab-header( @font-size ) {
	//position: relative;

	padding-left: 74px;

	font-size: @font-size;
	font-weight: bold;

	&:before {
		position: absolute;

		top: 50%;
		transform: translateY(-50%);
	}
}

.tab-panel {
	display: table;
	top: 0px;

	// & > * {
	// 	display: table-row;
	// }

	.panelHeader {
		.short-table-align-panel();
		position: relative;
		padding: 8px 35px 8px 0px;

		border-bottom: 1px solid @border-default-color;
		width: 100%;
		height: 70px;

		a {
			white-space: nowrap;
			display: table-cell;
			width: 1%;
      cursor: pointer;
		}

		a:nth-child(-n+2):after {
			content: '/';
			color: @default-inactive-color;
			margin: auto 3px;
		}

		h3 {
			.demand-tab-header( 24px );

			&:before {
				content: attr(tab-index)'.';
				left: 29px;
			}
		}
	}

	// .edit-form-wrapper {
	//		margin-top: 28px;
	// }
	// .accordion-block-wrapper {
	// 	margin: 10px auto;
	// }

	a, table tr th > a:hover, table tr th > a:active {
		color: @main-color-2;
	}

	a.glyphicon-download:before {
		font-size: 22px;
	}

	.panelBody {
		min-height: 600px;

		> ul {
			counter-reset: item;

			> li {
				border-bottom: 1px solid @border-default-light-color;

				.accordion-block-wrapper {
					 padding-bottom: 72px;

					 &.edit-form-wrapper {
						 padding-top: 25px;
                         &.lot-page {
                           padding-top: 0;
                         }
					 }
				}

				> *:not(.block-header):not(.accordion-block-wrapper):not(.edit-grid-wrapper),
				.accordion-block-wrapper > *:not(.add-inline-toolbar),
				.edit-grid-wrapper fieldset > *:not(.scroll-grid-box)
				{
					padding: 0px 74px;
				}

				.no-padding {
					padding: 0px !important;
				}
			}
		}
	}
}

#content {
	.column > div > h2 {
		font-weight: bold;

		margin-top: 52px;
		margin-bottom: 48px;
	}

	span.error {
		color: #ff2f3a;
	}

	.column-wide > *:last-child, .column.column-2:not(.LoginPage):not(.AccessDeniedPage) > *:last-child {
		margin-bottom: 110px;
	}
}

#content :not(.LotPage):not(.DemandPage) .tabsWrapper,
.horisontal-tab-wrapper {
	.tabs
}

.horisontal-tab-wrapper {
	margin-top: 110px;

	.tab-panel {
		padding: 25px;
	}
}

.ContactInfoPage {
	.edit-form-wrapper {
		margin-bottom: 31px;
	}
}

.block-header {
	.short-table-align-panel();

	position: relative;
	padding: 8px 0px;

	width: 100%;
	height: 69px;

	border-bottom: 1px solid @border-default-light-color;

	h4 {
		.demand-tab-header( 16px );
		padding-right: 80px;

		text-transform: uppercase;

		&:before {
			.inline-round( 16px, @main-color );

			left: 18px;

			content: counter(item); /* Добавляем к числам скобку */
			counter-increment: item; /* Задаём имя счетчика */
		}
	}
}

.edit-row-wrapper:after {
	content: '\e0160';
	display: block;
	height: 100%;
}

.top-toolbar-wrapper {
	.left-align-panel( 25px );

	// Панель в таблице заявок сползает вправо
	// margin-left: 25px;

	.panel-wrapper & {
		margin-bottom: 0px;
	}
}

.panel-wrapper .top-toolbar-wrapper{
	margin-left: 25px;
}

.top-toolbar-wrapper, .add-button-wrapper {
	&:after:extend(.clear) {}
}
