.footer-toolbar(@offset: 124px) {
  height: 114+@offset;
}

#footer {
	.default-min-width;
	.footer-toolbar(0px);

  margin-top: -114px;
	
	position: absolute;

	left: 0px;
	right: 0px;

	color: @text-inactive-color;
	background-color: white;

	border-top: 1px solid @border-default-color;
	overflow-y: hidden;

	z-index:0;

  .contact-info
	{
		.default-width;

		& > h4 {
  		padding: 25px 0px 20px 0px;
  	}

	  & > * {
			text-align: left;
	  }
	}

	span.contact-item {
		color: black;
	}

	p.copyright {
		float: right;
		margin-top: -2.4em;
	}
}

#footer.save-all-active {
	.footer-toolbar(156px);

	@media (max-height: 810px) {
		.footer-toolbar( 114px );
	}

	@media (max-height: 768px) {
		.footer-toolbar( 104px );
	}

	@media (max-height: 438px) {
		.footer-toolbar( 78px );
	}
}
