/* Header
-------------------------------- */

div#header {
  position:relative;
  z-index: 10000;

  .stripe.top {
    left: 0px;
    right: 0px;

    background-color: @main-color-2;
    padding-bottom: 0;
    border-bottom: none;
    box-shadow: 0 3px 2px rgba(143, 141, 141, 0.2);
  }

  .inside {
    display: table;
    height: 90px;
    position: relative;
    // overflow: hidden;
  }

  .title {
    background: url(/images/logo.png) no-repeat 0 center;
    vertical-align: middle;
    display: table-cell;

    h1 {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.4em;

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 6px 0px 8px 50px;

        &:hover {
          color: #fff;
        }
      }
    }

    h2 {
        margin: -1px 0px 0px 50px;

        font-size: 14px;
        color: @text-error-color-in-error-block;
        font-weight: normal;
        line-height: 1.4em;
        max-width: 644px;
    }
  }

  #form-login {
   	display: table-cell;
  	text-align: right;
    vertical-align: middle;
    white-space: nowrap;
  }

  #user-bar {
    a {
      line-height: 32px;
      font-size: 16px;
      color: white;
    }

    padding-right: 62px;

    .btn-logout {
      float: right;

      a {
        position: relative;
        font-size: 0px;

        &:before {
          &:extend(.glyphicon-exit:before);
          &:extend(.glyphicon);

          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 24px;

          text-align: right;
          width: 62px;
        }
      }
    }

    .user-info a {
      vertical-align: top;
      line-height: 32px;
    }
  }

  .stripe { }

  .share-sign-sprite {
      background-position: -65px 0;
  }
}

.guide-link a, .guide-link-login a {
  .link-image(55px, 2px, 16px);

  position: static;

  font-size: 14px;
  color: @text-inactive-color;
}

.guide-link-login, .guide-link
{
    position: absolute;

    top: 90px;
    right: 0px;
    z-index: 10001;
    // left: 50%;
    // margin-left: 370px;
}

.guide-link-login a:hover, .guide-link-login a.active {
    color: @main-color-2;
}

.guide-link {
  border-bottom: 2px solid rgba(0,0,0,0);
  box-sizing: border-box;

  & a {
    display: block;
  }

  &:hover a,  &.active a {
    color: black;
  }

  &.active, &:hover {
    border-bottom: 2px solid @main-color-2;
  }
}
