#content {
	.button-block {
	}

	.steps-block i {
		color: @main-color-2;
	}

	.steps-block li a:hover:after {
		color: @main-color-2;
		border-color: @main-color-2;
	}

	.track-progress li.done {
		&.active, &.active i {
			color: @background-block-main-color;
			background-color: @main-color-2;
		}

		& i:after {
			.inline-round( 7px, @main-color-2, 0px);
			.glyphicon();

			content: @glyphicon-check;
			font-size: 7px;

			position:absolute;
			bottom: -8px;
			margin-left:1px;

			color: @background-block-main-color;
			background-color: @main-color-2;

			line-height: 14px;
		}

		&.active i:after {
			content: @glyphicon-dot@glyphicon-nbsp@glyphicon-dot@glyphicon-nbsp@glyphicon-dot;
			font-size: 1.7px;

			color: @text-default-color;
			background-color: @background-block-main-color;
		}
	}

	.steps-block {
		margin-top: 13px;

		&:after:extend(.clear) {};
	}

	.current-stage-wrapper {
		.ilink-image(70px, 2px, 24px);

		display: table;
		width: 214px;

		float: left;
        left: 100px;
	}

	.status-block {
		display: table-cell;
		vertical-align: middle;

		* {
			display: block;
		}

		label {
			color: @text-inactive-color;
		}
	}

	.scroll-progress-bar-wrapper {
		max-width: 780px;

		float:left;
		overflow: hidden;
	}

	ol.track-progress {
		.short-table-align-panel();
		border-collapse: collapse;

		li {
			.ilink-image(70px, 2px, 24px);

			width: 220px;

			padding: 5px 20px 5px 71px;
			font-size: 16px;

			border: 1px solid @border-default-color;
			box-sizing: border-box;

			a:extend(.glyphicon) {
				.inline-round( 18px, @border-default-color, 1px);

				position: absolute;
				top: 35px;

				color: @text-default-color;
				background-color: @background-block-main-color;

				font-size: 0px;
				z-index: 100;

				&.stage-forward-btn {
					right: 0px;
					-ms-transform: translate( 50%, -50% );
					transform: translate( 50%, -50% );

					&:after {
						display: inline;
						content: @glyphicon-chevron-right;

						line-height: 36px;
						font-size: 24px;
					}
				}

				&.stage-back-btn {
					left: 0px;
					-ms-transform: translate( -50%, -50% );
					transform: translate( -50%, -50% );

					&:after {
						display: inline;
						content: @glyphicon-chevron-left;

						line-height: 36px;
						font-size: 24px;
					}
				}

                &.demand-finish-btn {
                      background-color: inherit;
                      border: none;
                  }
			}

			i {
				left: 24px;
			}
		}
	}
}
