@import "/content/message.less";
@import "/content/breadcrumbs.less";
@import "/content/stages.less";
@import "/content/tabs.less";
@import "/content/vertical-tabs.less";
@import "/content/content.less";

#content {
	.infoMessagesWrapper {
		display: none;
		width: 100%;
	}

	h2 {
		font-size: 24px;
	}
}
