.tabs() {
	background-color: white;

	border: 1px solid #e6e6e6;
	border-radius: 4px;

	// border-top-left-radius: 4px;
	// border-top-right-radius: 4px;

	& > .tab-row {

		height: 72px;
		box-shadow: inset 0 -1px 0px rgba(141,141,141,0.2);

	 	& > ul.tabs {
			display: block;

			& > li {
				display: inline-block;
				margin: 0px 18px;

				font-size: 16px;

				border-bottom: 4px solid rgba(0,0,0,0);
				box-sizing: border-box;

				a {
				 color: @text-inactive-color;
				 line-height: 68px;

				 float: left;
				}

				&:hover a,  &.active a {
					color: black;
				}

				&.active, &:hover {
					border-bottom: 4px solid @main-color;
				}
			}
		}
	}

	.tab-panel {
		width: 100%;
		background-color: white;
	}
}
