.vertical-tab() {
	margin-top: 32px;
	padding-left: 214px;
	position: relative;

	& > .tab-row {
		position: absolute;
		left: 0px;
		z-index: 100;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
	}

	ul.tabs {
		display: table;
		border-collapse: separate !important;

		list-style-type: none; /* Убираем маркеры */
		width: 214px;

		margin: 0px;
		padding: 0px;

		overflow-x: hidden;
		z-index: 1200px;

		li {
			display: table-row;
			position: relative;
			background-color: @background-default-color;

			&:first-child a {
				border-top: 1px solid @border-default-color;
			}

			a {
				position: relative;

				vertical-align: middle;
				display: table-cell;

				height: 70px;
				/*width: 216px;*/

				padding: 5px 20px 5px 69px;

				color: black;

				border-right: 1px solid @border-default-color;
				border-left: 1px solid @border-default-color;
				border-bottom: 1px solid @border-default-color;

				& > .prog-circle {
					position: absolute;

					left: 12px;
					top: 12px;

					font-size: 24px;
					z-index: 1;
				}

				& > i {
					position: absolute;

					left: 24px;
					top: 22px;

					color: #989898;
					font-size: 28px;
					z-index: 100;
				}
			}

			&.active, &:hover {
				background-color: white;
			}

			&:hover a:after, &.active a:after {
				content: '';

				display:block;
				position: absolute;
				left: 0px;
				right:0px;
				bottom: -1px;

				height: 3px;
				background-color: @main-color-2
			}
		}
	}
}
