@CHARSET "UTF-8";
div.wicket-mask-dark {
    background-color: black;
    background-image: url("../images/modal/transparent2.png");
    height: 100%;
    left: 0;
    
	filter: alpha(opacity=10);
	-khtml-opacity: 0.1;
	-moz-opacity: 0.1;
    opacity: 0.1;
      
    position: fixed;
    top: 0;
    width: 100%;
}

div.wicket-mask-transparent {
    background-image: url("../images/modal/transparent1.gif");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.wicket-modal {
    position: fixed;
    visibility: hidden;
    z-index: 20001;
}
div.wicket-modal div.w_top_1 {
    overflow: hidden;
    width: 100%;
}
div.wicket-modal div.w_top {
    background-position: 0 -16px;
    cursor: n-resize;
    height: 11px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
div.wicket-modal .w_topLeft {
    background-position: 0 0;
    cursor: nw-resize;
    float: left;
    height: 11px;
    overflow: hidden;
    width: 14px;
}
div.wicket-modal div.w_topRight {
    background-position: -16px 0;
    cursor: ne-resize;
    float: right;
    height: 11px;
    overflow: hidden;
    width: 14px;
}
div.wicket-modal div.w_left {
    background-position: 0 0;
    background-repeat: repeat-y;
    cursor: w-resize;
    width: 100%;
}
div.wicket-modal div.w_right_1 {
    margin-left: 10px;
}
div.wicket-modal div.w_right {
    background-position: right center;
    background-repeat: repeat-y;
    cursor: e-resize;
    width: 100%;
}
div.wicket-modal div.w_content_1 {
    cursor: auto;
    margin-right: 10px;
}
div.wicket-modal div.w_caption {
    background-color: white;
    color: #666666;
    cursor: default;
    height: 2.3em;
    line-height: 2.3em;
    overflow: hidden;
    position: relative;
}
div.wicket-modal a.w_close {
    background-position: -64px 0;
    height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 16px;
}
div.wicket-modal a.w_close:hover {
    background-position: -80px 0;
    float: right;
    height: 16px;
    overflow: hidden;
    width: 16px;
}
div.wicket-modal div.w_content_2 {
    background-color: white;
    padding-top: 0.1em;
    width: 100%;
}
div.wicket-modal div.w_content_3 {
    border: 1px solid #BBBBBB;
    padding: 0;
}
div.wicket-modal div.w_content {
    background-color: white;
    width: 100%;
}
div.wicket-modal div.w_content_container {
    position: relative;
}
div.wicket-modal iframe.wicket_modal {
    border-width: 0;
    height: 400px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
div.wicket-modal div.w_bottom_1 {
    cursor: n-resize;
    overflow: hidden;
    width: 100%;
}
div.wicket-modal div.w_bottom {
    background-position: 0 -32px;
    height: 15px;
    overflow: hidden;
}
div.wicket-modal div.w_bottomRight {
    background-position: -48px 0;
    cursor: nw-resize;
    float: right;
    height: 15px;
    overflow: hidden;
    width: 14px;
}
div.wicket-modal div.w_bottomLeft {
    background-position: -32px 0;
    cursor: ne-resize;
    float: left;
    height: 15px;
    overflow: hidden;
    width: 14px;
}
div.wicket-modal div.w_blue div.w_left, div.wicket-modal div.w_blue div.w_right {
    background-image: url("../images/modal/frame-blue-2-alpha.png");
}
div.wicket-modal div.w_blue div.w_top, div.wicket-modal div.w_blue div.w_bottom, div.wicket-modal div.w_blue div.w_topLeft, div.wicket-modal div.w_blue div.w_topRight, div.wicket-modal div.w_blue div.w_bottomRight, div.wicket-modal div.w_blue div.w_bottomLeft, div.wicket-modal div.w_blue a.w_close {
    background-image: url("../images/modal/frame-blue-1-alpha.png");
}
div.wicket-modal div.w_silver div.w_left, div.wicket-modal div.w_silver div.w_right {
    background-image: url("../images/modal/frame-gray-2-alpha.png");
}
div.wicket-modal div.w_silver div.w_top, div.wicket-modal div.w_silver div.w_bottom, div.wicket-modal div.w_silver div.w_topLeft, div.wicket-modal div.w_silver div.w_topRight, div.wicket-modal div.w_silver div.w_bottomRight, div.wicket-modal div.w_silver div.w_bottomLeft, div.wicket-modal div.w_silver a.w_close {
    background-image: url("../images/modal/frame-gray-1-alpha.png");
}
div.wicket-modal div.w_content form div{
    margin-top: 5px;
}
div.wicket-modal div.w_content form div.demandExistsButtons{
	text-align: right;
	padding-right:10px;
}